<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/mobile.css">
        <link rel="stylesheet" href="../static/css/tablet.css">
        <link rel="stylesheet" href="../static/css/desktop.css">
        <link rel="stylesheet" href="../static/css/aminations.css">
        <link rel="stylesheet" href="../static/css/menu.css">

        <link rel="icon" type="image/png" href="../static/images/favicon.png">
        <title>Index</title>
    </head>`
</head>

<body>
    <!--
    <header th:fragment="headerplusnav">
        <div class="header">
        <img class="logo-img" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}" alt="Logo de Dimentials">
        <h1>Dimentials</h1>
        <nav class="main-menu">
            <div id="toggle-menu" class="toggle-menu">
                <img th:src="@{${'/images/menu-icon.png'}}" alt="Botón de menu">
            </div>
            <ul class="main-menu" id="main-menu">
                <li class="main-menu__item"><a class="main-menu__link" href="./index.html">Inicio</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="./faq.html">FAQ</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Tienda</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Contacto</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="./about.html">Sobre nosotros</a></li>
            </ul>
        </nav>
        </div>
    </header>
    -->

    <header th:fragment="headerplusnav2" class="header">
        <div class="logo">DIMENTIALS</div>
        <input type="checkbox" id="toggle" />
        <label for="toggle"> <img class="menu" th:src="@{${'/images/menu-icon.png'}}" alt="menu" /> </label>
        <nav class="navigation">
            <ul>
                <li><a href="#">Dimensiones</a></li>
                <li><a href="#">Cartas</a>
                    <ul>
                        <li><a href="#">Galería de cartas</a></li>
                        <li><a href="#">Detalles de cartas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">FAQ</a>
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Sobre nosotros</a></li>
                        <li><a href="#">Sobre Dimentials</a></li>
                        <li><a href="#">Sobre Dimentials TCG</a></li>
                        <li><a href="#">Sobre la tienda</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Como Jugar</a>
                    <ul>
                        <li><a href="#">Básico: Identifica los elementos de las cartas</a></li>
                        <li><a href="#">Básico: Tablero de juego y turnos</a></li>
                        <li><a href="#">Intermedio: Estrategias básicas </a></li>
                    </ul>
                </li>
                <li><a href="#">Tienda</a></li>
            </ul>
        </nav>
    </header>

    <footer th:fragment="footer">
        <img class="grid-logo" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}">
        <h4 class="grid-title">The Dimentials Company</h4>
        <ul class="grid-redes">
            <h4>Redes sociales</h4>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitch"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-x"></i></a></li>
        </ul>
        <ul class="grid-legal">
            <h4>Aspecto legal</h4>
            <li><a href="./cookies.html">Política de cookies</a></li>
            <li><a href="./privacy.html">Aviso de privacidad</a></li>
            <li><a href="./terms.html">Condiciones de uso</a></li>
        </ul>
        <p class="grid-copyright">Dimentials&#169; 2024 es una marca registrada por RómpelHielo&#169;</p>
    </footer>


    <script src="../static/js/menu.js"></script>
</body>

</html>