<!DOCTYPE html>
<html lang="en">

<head>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/bootstrap.css">
        <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="stylesheet" href="../static/css/mobile.css">
        <link rel="stylesheet" href="../static/css/tablet.css">
        <link rel="stylesheet" href="../static/css/desktop.css">
        <link rel="stylesheet" href="../static/css/aminations.css">
        <link rel="stylesheet" href="../static/css/menu_nav_dimential.css">
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet" />
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet" />
        <link rel="icon" type="image/png" href="../static/images/favicon.png">
        <title>Index</title>
    </head>`
</head>

<body>
    <!--
    <header th:fragment="headerplusnav">
        <div class="header">
        <img class="logo-img" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}" alt="Logo de Dimentials">
        <h1>Dimentials</h1>
        <nav class="main-menu">
            <div id="toggle-menu" class="toggle-menu">
                <img th:src="@{${'/images/menu-icon.png'}}" alt="Botón de menu">
            </div>
            <ul class="main-menu" id="main-menu">
                <li class="main-menu__item"><a class="main-menu__link" href="./index.html">Inicio</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="./faq.html">FAQ</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Tienda</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="#">Contacto</a></li>
                <li class="main-menu__item"><a class="main-menu__link" href="./about.html">Sobre nosotros</a></li>
            </ul>
        </nav>
        </div>
    </header>
    -->
    <header th:fragment="headerplusnav2" class="header">
        <div class="logo"><a th:href="@{/}">DIMENTIALS</a></div>
        <input type="checkbox" id="toggle" />
        <label for="toggle"> <img class="menu" th:src="@{${'/images/menu-icon.png'}}" alt="menu" /> </label>
        <nav class="navigation">
            <ul>
                <li><a href="#">Dimensiones</a></li>
                <li><a href="#">Cartas</a>
                    <ul>
                        <li><a th:href="@{/gallery_cards}">Galería de cartas</a></li>
                        <li><a th:href="@{/cards}">Detalles de cartas</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">FAQ</a>
                    <ul>
                        <li><a th:href="@{/contact}">Contacto</a></li>
                        <li><a th:href="@{/about}">Sobre nosotros</a></li>
                        <li><a th:href="@{/faq}">Sobre Dimentials</a></li>
                        <li><a th:href="@{/faq}">Sobre Dimentials TCG</a></li>
                        <li><a th:href="@{/faq}">Sobre la tienda</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">Como Jugar</a>
                    <ul>
                        <li><a th:href="@{/basic_concepts}">Básico: Identifica los elementos de las cartas</a></li>
                        <li><a href="#">Básico: Tablero de juego y turnos</a></li>
                        <li><a th:href="@{/basic_strategy}">Intermedio: Estrategias básicas </a></li>
                    </ul>
                </li>
                <li><a href="#">Tienda</a></li>
            </ul>
        </nav>
    </header>

    <header th:fragment="headerplusnav3">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dimentials</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item dropdown justify-content-center">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownHome"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            <strong>Cartas</strong>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
                            <a class="dropdown-item" th:href="@{/gallery_cards}" 
                                >D.I Gula Insaciable de Embergante</a
                            >
                            <a class="dropdown-item" th:href="@{/cards}"
                            >Detalles cartas</a
                            >
                            <a class="dropdown-item" href="#"
                                >D.I Justicia Divina de Lofair 2</a
                            >
                        </div>
                    </li>
                    <li class="nav-item dropdown justify-content-center">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownProducts"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            FAQ
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                            <a class="dropdown-item" th:href="@{/about}">Sobre nosotros</a>
                            <a class="dropdown-item" th:href="@{/faq}">Sobre el juego DIMENTIALS TCG</a>
                            <a class="dropdown-item" th:href="@{/contact}">Contacto</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown justify-content-center">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownGallery"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            Recursos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownGallery">
                            <a class="dropdown-item" href="#">Creador de cartas</a>
                            <a class="dropdown-item" th:href="@{/basic_concepts}">Conceptos básicos</a>
                            <a class="dropdown-item" th:href="@{/basic_strategy}">Estrategias básicas</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown justify-content-center">
                        <a
                            class="nav-link dropdown-toggle"
                            href="#"
                            id="navbarDropdownCareers"
                            role="button"
                            data-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                            Juego Digital
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownCareers">
                            <a class="dropdown-item" href="#">Demo en Itch.io</a>
                            <a class="dropdown-item" href="#">Wishlist en Steam</a>
                        </div>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto2">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <strong>Tienda</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign In</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <footer th:fragment="footer">
        <img class="grid-logo" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}">
        <h4 class="grid-title">The Dimentials Company</h4>
        <ul class="grid-redes">
            <h4>Redes sociales</h4>
            <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
            <li><a href="#"><i class="fa-brands fa-twitch"></i> </a></li>
            <li><a href="#"><i class="fa-brands fa-x"></i></a></li>
        </ul>
        <ul class="grid-legal">
            <h4>Aspecto legal</h4>
            <li><a th:href="@{/cookies}">Política de cookies</a></li>
            <li><a th:href="@{/privacy}">Aviso de privacidad</a></li>
            <li><a th:href="@{/terms}">Condiciones de uso</a></li>
        </ul>
        <p class="grid-copyright">Dimentials&#169; 2024 es una marca registrada por RómpelHielo&#169;</p>
    </footer>

    <script src="js/index_page.js"></script>
    <script src="js/vanilla_tilt.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>   
</body>

</html>