<!DOCTYPE html>
<html lang="en">
    <head>
        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
            <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
            <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
            <title>Index</title>
            <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
            <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        </head>
        `
    </head>

    <body id="login">
        <header th:fragment="headerplusnav2" class="header">
            <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
                <div class="container">
                    <a class="navbar-brand" th:href="@{/}">DIMENTIALS</a>
                    <button
                        class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse dimentials-navbar-justify" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{menu.cards}"> Cartas </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/gallery_cards}" th:text="#{drop.glottony}">Gula Insaciable de Embergante</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/cards}" th:text="#{drop.details}">Detalles Cartas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="#" th:text="#{drop.divine}">Justicia Divina de Lofair</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> F.A.Q. </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/about}" th:text="#{about.we}">Sobre nosotros</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/faq}" th:text="#{about.game}">Sobre el juego Dimentials TCG</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/contact}" th:text="#{about.contact}">Contacto</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{guide.resources}"> Recursos </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/cards/new-monster}">Añadir cartas Monstruo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/cards/new-spell}">Añadir cartas hechizo</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/cards/card-deletion}">Borrar cartas</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/basic_concepts}" th:text="#{guide.concepts}">Conceptos básicos</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/basic_strategy}" th:text="#{guide.strategy}">Estrategias básicas</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{digital.title}"> Juego Digital </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" th:href="@{/proximamente}" th:text="#{digital.itch}">Demo en Itch.io</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" th:href="@{/proximamente}" th:text="#{digital.steam}">Wishlit en Steam</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" th:href="@{/shop}"><i class="fa-solid fa-cart-shopping"></i><span class="dim-nav-item" th:text="#{digital.shop}"></span></a>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-12 col-lg-1 navbar-nav ms-3 me-3">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa-solid fa-language fa-lg"></i></a>

                                    <ul class="grid-lang dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="?lang=es">
                                                <img th:src="@{${'/images/spain.png'}}" alt="Español" class="flag-icon rounded-circle flag-icon-small me-3" /> Español
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" href="?lang=en">
                                                <img th:src="@{${'/images/england.png'}}" alt="English" class="flag-icon rounded-circle flag-icon-small me-3" /> English
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </div>
                            <div class="col-12 col-lg-9">
                                <a class="btn btn-warning" th:href="@{/proximamente}" th:text="#{session.signup}">Entrar</a>
                                <a class="btn btn-primary" th:href="@{/login}" th:text="#{session.login}">Iniciar sesión</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <!-------------------- FOOTER ---------------------------->

        <footer th:fragment="footer" class="bg-dark" data-bs-theme="dark">
            <div class="container">
                <div class="row">
                    <img class="dimentials-logo grid-logo col-lg-5 col-md-6 col-12" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}" />
                    <ul class="grid-lang col-lg-3 col-md-6 col-12">
                        <h4 th:text="#{menu.lang}">Idiomas</h4>
                        <li>
                            <a class="dropdown-item" href="?lang=es">
                                <img th:src="@{${'/images/spain.png'}}" alt="Español" class="flag-icon rounded-circle flag-icon-small" />
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="?lang=en">
                                <img th:src="@{${'/images/england.png'}}" alt="English" class="flag-icon rounded-circle flag-icon-small" />
                            </a>
                        </li>
                    </ul>
                    <ul class="grid-redes col-lg-3 col-md-6 col-12">
                        <h4 th:text="#{footer.socialmedia}"></h4>
                        <li>
                            <a href="https://www.instagram.com/dimentials" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/@Dimentials" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-youtube"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-discord"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-twitch"></i> </a>
                        </li>
                        <li>
                            <a href="#"><i class="fa-brands fa-x"></i></a>
                        </li>
                    </ul>
                    <ul class="grid-legal col-lg-12 col-md-6 col-12">
                        <h4 th:text="#{footer.legal}">Aspecto legal</h4>
                        <li>
                            <a th:href="@{/cookies}" th:text="#{footer.cookies}">Política de cookies</a>
                        </li>
                        <li>
                            <a th:href="@{/privacy}" th:text="#{footer.privacy}">Aviso de privacidad</a>
                        </li>
                        <li>
                            <a th:href="@{/terms}" th:text="#{footer.use}">Condiciones de uso</a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <p class="grid-copyright col-md-12 text-center" th:text="#{footer.copy}">Dimentials&#169; 2024 es una marca registrada por RómpelHielo&#169;</p>
                </div>
            </div>
        </footer>

        <script src="js/index_page.js"></script>
        <script src="js/vanilla_tilt.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="js/menu_nav_dimential.js"></script>
    </body>
</html>
