<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre_nosotros</title>
  </head>

  <body>
    <div class="container">
      <main>
        <h1>Dimentials: Un juego de cartas coleccionables</h1>

        <h2>Acerca de Dimentials</h2>

        <p>
          Dimentials es un juego de cartas coleccionables creado por Grupo3, una
          empresa de juegos de mesa con sede en [Ciudad, País]. El juego está
          diseñado para jugadores de [Edad] años en adelante y puede ser jugado
          por [Número] jugadores.
        </p>

        <p>
          Dimentials se basa en un universo de fantasía único, con una rica
          historia y una amplia variedad de personajes y criaturas. Los
          jugadores asumen el papel de [Nombre del rol] que compiten entre sí
          para controlar el [Nombre del objeto].
        </p>

        <h2>El juego</h2>

        <p>
          El juego se juega con una baraja de cartas que se pueden usar para
          realizar acciones, atacar a los oponentes y defenderse de los ataques.
          Las cartas se pueden comprar, ganar o intercambiar con otros
          jugadores.
        </p>

        <p>
          Dimentials es un juego rápido y emocionante que requiere estrategia y
          habilidad. Es un juego perfecto para jugadores que buscan una
          experiencia de juego desafiante y gratificante.
        </p>

        <h2>Grupo3</h2>

        <p>
          Grupo3 se compromete a proporcionar a los jugadores una experiencia de
          juego de alta calidad. La empresa ofrece una amplia gama de productos
          de Dimentials, incluidos:
        </p>

        <ul>
          <li>Juegos de cartas básicas</li>
          <li>Juegos de expansión</li>
          <li>Promociones</li>
          <li>Accesorios</li>
        </ul>

        <p>
          Grupo3 también organiza torneos y eventos de Dimentials en todo el
          mundo.
        </p>

        <h2>Más información</h2>

        <p>Para obtener más información sobre Dimentials, visite:</p>

        <ul>
          <li><a href="https://www.dimensionalwebs.com/">Sitio web</a></li>
          <li><a href="https://www.facebook.com/DSDimensions/">Facebook</a></li>
          <li><a href="https://twitter.com/DSDimensions">Twitter</a></li>
          <li><a href="https://www.instagram.com/dimnsions/">Instagram</a></li>
        </ul>

        <p>© 2024 Grupo3. Todos los derechos reservados.</p>
      </main>
    </div>
    <script src="../static/js/template.js"></script>
  </body>
</html>
