@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-family: "Beleren";
    src: url("fonts/BelerenSmallCaps-Bold.ttf") format("truetype");
    font-weight: 500;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    box-sizing: border-box;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333333;
    padding: 0 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    max-height: 81px;
}

.logo {
    font-family: "Beleren", "Poppins", sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
}
.header label img {
    padding: 6px;
}

.navigation ul {
    list-style: none;
}

.header .navigation ul li {
    float: left;
    position: relative;
}

.header .navigation ul li a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    transition: all 0.2s ease;
}

.header .navigation ul li a:hover {
    background-color: #e54fad;
}

header .navigation ul li ul {
    position: absolute;
    right: 0;
    width: 300px;
    background-color: rgba(1, 1, 1, 0.7);
    display: none;
}

.header .navigation ul li ul li a {
    font-size: 18px;
    text-transform: capitalize;
}

.header .navigation ul li ul li a:hover {
    background-color: #e54fad;
}

.header .navigation ul li ul li ul {
    position: absolute;
    top: 0;
    right: 300px;
}

.header .navigation ul li ul li {
    width: 100%;
}

.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label {
    display: none;
    cursor: pointer;
}

.menu {
    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-right: 0;
}

@media (max-width: 950px) {
    .header label {
        display: initial;
    }

    .header {
        padding: 20px 10%;
    }

    .header .navigation {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(1, 1, 1, 0.7);
        display: none;
    }

    .header .navigation ul li {
        width: 100%;
    }

    .header .navigation ul li a {
        padding: 8px 30px 8px 10%;
    }

    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0%;
    }

    .header .navigation ul li ul li {
        background-color: rgba (1, 1, 1, 0.7);
    }

    .header .navigation ul li ul li a {
        padding: 8px 30px 8px 20%;
    }
    .header .navigation ul li ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }

    .header .navigation ul li ul li ul li a {
        padding: 8px 30px 8px 30%;
    }

    #toggle:checked ~ .navigation {
        display: block;
    }
}
