/* Reglas Generales */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}


:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
    --secondary-color: #e54fad;
}


html {
    font-size: 100%;
    overflow-x: hidden;
}


/* -----------------------------------------------------------
                                                                
                                          ▄▄                  
▀████▀  ▀████▀▀                         ▀███                  
  ██      ██                              ██                  
  ██      ██    ▄▄█▀██     ▄█▀██▄    ▄█▀▀███   ▄▄█▀██▀███▄███ 
  ██████████   ▄█▀   ██   ██   ██  ▄██    ██  ▄█▀   ██ ██▀ ▀▀ 
  ██      ██   ██▀▀▀▀▀▀    ▄█████  ███    ██  ██▀▀▀▀▀▀ ██     
  ██      ██   ██▄    ▄   ██   ██  ▀██    ██  ██▄    ▄ ██     
▄████▄  ▄████▄▄ ▀█████▀   ▀████▀██▄ ▀████▀███▄ ▀█████▀████▄   
                                                              
                                                              

                                                                
----------------------------------------------------------- */


.dim-nav-item {
    margin-left: 5px;
}

/* -----------------------------------------------------------
                                                                
▀███▀▀▀███ ▄▄█▀▀██▄   ▄▄█▀▀██▄ ███▀▀██▀▀██████▀▀▀███▀███▀▀▀██▄  
  ██    ▀███▀    ▀██▄██▀    ▀██▄▀   ██   ▀█ ██    ▀█  ██   ▀██▄ 
  ██   █ ██▀      ▀███▀      ▀██    ██      ██   █    ██   ▄██  
  ██▀▀██ ██        ███        ██    ██      ██████    ███████   
  ██   █ ██▄      ▄███▄      ▄██    ██      ██   █  ▄ ██  ██▄   
  ██     ▀██▄    ▄██▀██▄    ▄██▀    ██      ██     ▄█ ██   ▀██▄ 
▄████▄     ▀▀████▀▀   ▀▀████▀▀    ▄████▄  ▄██████████████▄ ▄███▄
                                                                
                                                                
----------------------------------------------------------- */

footer {
    padding-top: 3vh;
}

footer h1, footer h2, footer h3, footer h4, footer p {
    color: var(--text-color);
}

footer img {
    height: 10vh;
}

footer ul {
    text-decoration: none;
    text-align: center;
}

footer ul li {
    padding: 5px;
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    color: var(--text-color);
}

footer ul li a:hover {
    text-decoration: none;
    color: var(--text-color);
}

footer .dimentials-logo {
    position:relative;
    top: -16px;
}

.grid-lang img {
    width: 25px;
    height: 25px;
}

/*--------------------------------------------------------------
                                                   
▀████▀███▄   ▀███▀███▀▀▀██▄ ▀███▀▀▀███▀███▀   ▀██▀ 
  ██   ███▄    █   ██    ▀██▄ ██    ▀█  ███▄  ▄█   
  ██   █ ███   █   ██     ▀██ ██   █     ▀██▄█▀    
  ██   █  ▀██▄ █   ██      ██ ██████       ███     
  ██   █   ▀██▄█   ██     ▄██ ██   █  ▄  ▄█▀▀██▄   
  ██   █     ███   ██    ▄██▀ ██     ▄█ ▄█   ▀██▄  
▄████▄███▄    ██ ▄████████▀ ▄████████████▄▄  ▄▄███▄
                                                   
                                                   
------------------------------------------------------------*/

#dimentials_index {}

#dimentials_index .dimentials-navbar-justify {
    justify-content: space-between;
}

.dimentials-navbar-justify {
    justify-content: space-between;
}

/* Página Index */

#dimentials_index {
    background-color: var(--bg-color);
    color: var(--text-color);
}

#dimentials_index .dimentials-navbar-justify {
    justify-content: space-between;
}

#dimentials_index #home {
    background-color: var(--bg-color);
    padding: 2rem 0 2rem;
}

#dimentials_index .home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    height: 80%;
    background: var(--bg-color);
}

#dimentials_index .home-content {
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}


#dimentials_index .logo span {
    color: var(--main-color);
    font-size: 8vw;
}

#dimentials_index .home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 8vw;
}

#dimentials_index .home-content h1 {
    font-size: 12vw;
    font-weight: 700;
    margin-top: 1, 5rem;
    line-height: 1;
}

#dimentials_index .home-img {
    order: 1;
    border-radius: 50%;
}

#dimentials_index .home-img img {
    display: block;
    margin: auto;
    position: relative;
    width: 60vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

#dimentials_index .home-img img:hover {
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color), 0 0 100px var(--main-color);
}

#dimentials_index .home-content p {
    font-size: 5vw;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

#dimentials_index .social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 10vw;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3vh auto 3vh auto;
    transition: 0.3s ease-in-out;
    text-decoration: none;
}

#dimentials_index .social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

#dimentials_index .btn-group.dim-btn-index-home {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

#dimentials_index .btn-group.dim-btn-index-home a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

#dimentials_index .btn-group.dim-btn-index-home a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

#dimentials_index .dim-btn-index-home .btn {
    display: inline-block;
    padding: 2vh 0;
    background: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 4vw;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

#dimentials_index .dim-btn-index-home .btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}



#dimentials_index .text-animation {
    font-size: 8vw;
    font-weight: 600;
    min-width: 280px;
}

#dimentials_index .text-animation span {
    position: relative;
}

#dimentials_index .text-animation span::before {
    content: "INVEROSÍMIL";
    color: var(--main-color);
    animation: words 20s infinite;
}

#dimentials_index .text-animation span::after {
    content: "";
    color: var(--bg-color);
    position: absolute;
    width: calc(100% + 1vw);
    height: calc(100% + 1vh);
    border-left: 3px solid var(--bg-color);
    right: -8px;
    background-color: var(--bg-color);
    top: -.3vh;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
    padding-top: 5px;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "INVEROSÍMIL";
    }

    21%,
    40% {
        content: "LEGENDARIA";
    }

    41%,
    60% {
        content: "FANTÁSTICA";
    }

    61%,
    80% {
        content: "TERRORÍFICA";
    }

    81%,
    100% {
        content: "DIMENSIONAL";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/* Visita la tienda*/

#dimentials_index #featured_cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#dimentials_index #featured_title {
    padding: 0;
    font-size: 10vw;
    font-weight: 700;
    margin-bottom: 3vh;
    line-height: 1;
}

#dimentials_index #featured_title h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 7vw;
    text-align: center;
}

#dimentials_index #featured_title h2 {
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: var(--secondary-color);
}

#dimentials_index .card-container {
    perspective: 1000px;
    flex: 1;
    border-top: 1px solid #ddd;
    border-radius: 10px;
    padding: 4vh 0;
    border-bottom: 1px solid #ddd;
}

#dimentials_index .card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#dimentials_index .card {
    position: relative;
    width: 300px;
    height: 415px;
    transition: transform 0.5s;
    transform-style: preserve-3d;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px 2px rgb(255 253 253);
    padding: 2vh 0;
}

#dimentials_index .card-front,
#dimentials_index .card-back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#dimentials_index .card-front {
    transform: rotateY(0deg);
}

#dimentials_index .card-back {
    transform: rotateY(180deg);
}

#dimentials_index .card-anim:hover {
    transform: rotateY(180deg);
}

#dimentials_index .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#dimentials_index .card-back img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#dimentials_index .card-info {
    margin-top: 5vh;
    border-top: 1px solid #ddd;
    padding-top: 2vh;
    flex: 1;
    background-color: transparent;
    border-radius: 10px;
}

#dimentials_index .card-info h3 {
    margin-top: 0;
    font-size: 12vw;
}

#dimentials_index .card-info h4 {
    margin-top: 0;
    font-size: 7vw;
}

#dimentials_index .card-info .card-info-blue {
    color: var(--main-color);
    margin-right: 1rem;
}

#dimentials_index .card-info button {
    background-color: var(--secondary-color);
    color: #fff;
    border: none;
    width: 300px;
    margin-top: 20px;
    padding: 4vw 2vw;
    font-size: 5vw;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

#dimentials_index .card-info button:hover {
    background-color: #3e8e41;
}

/*--------------------------------------------------------------
                          ▄▄    ▄▄                            
  ▄▄█▀▀▀█▄█             ▀███  ▀███                            
▄██▀     ▀█               ██    ██                            
██▀       ▀     ▄█▀██▄    ██    ██   ▄▄█▀██▀███▄███▀██▀   ▀██▀
██             ██   ██    ██    ██  ▄█▀   ██ ██▀ ▀▀  ██   ▄█  
██▄    ▀████    ▄█████    ██    ██  ██▀▀▀▀▀▀ ██       ██ ▄█   
▀██▄     ██    ██   ██    ██    ██  ██▄    ▄ ██        ███    
  ▀▀███████    ▀████▀██▄▄████▄▄████▄ ▀█████▀████▄      ▄█     
                                                     ▄█       
                                                   ██▀        
------------------------------------------------------------*/

#dim-card-gallery {
    
}


#dim-card-gallery .hero-gallery img{
    filter: drop-shadow(30px 10px 4px #964B00);
}


#dim-card-gallery #gallery_cards{
    margin: 5vh;
}

#dim-card-gallery .tiltcard{
    margin-bottom: 2vh;
}

#dim-card-gallery #gallery_cards .tiltcard img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
    filter: drop-shadow(9px 9px 8px #2613007f);
}

#dim-card-gallery #img-active {
    width: 100%;
    height: auto;
}

/* Contenedor Principal del Lightbox */

#dim-card-gallery #main-card-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.85);
}

#relative-card-container {
    width: 100%;
    height: 100%;
    position: relative;
}

#dim-card-gallery #zoom-card-container {
    width: fit-content;
    padding: 2px;
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 5px;
    margin: 10vh auto 0;
    height: 70%;
}

#dim-card-gallery #zoom-card-container .tiltcard img {
    background-size: cover;
    border-radius: 5px;
}

/* Botones galeria */

#dim-card-gallery .dim-gallery-btn {
    cursor: pointer;
    background: none;
    padding: 10px;
    color: #f3f3f3;
}

#dim-card-gallery #button__close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
}

#dim-card-gallery #button__go-back {
    position: absolute;
    top: 50%;
    left: 0;
    font-size:2rem

}

#dim-card-gallery #button__keep-it-up {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 2rem;
}

#dim-card-gallery #button__view-more {
    position: absolute;
    bottom: -10%;
    left: 0;
}

#dim-card-gallery #button__shop {
    position: absolute;
    bottom: -10%;
    right: 0;
}

/*--------------------------------------------------------------
                                                   
                                  ▄▄                                    ▄▄    ▄▄  
  ▄▄█▀▀▀█▄█                     ▀███ ▀███▀▀▀██▄           ██            ██  ▀███  
▄██▀     ▀█                       ██   ██    ▀██▄         ██                  ██  
██▀       ▀▄█▀██▄ ▀███▄███   ▄█▀▀███   ██     ▀██ ▄▄█▀████████ ▄█▀██▄ ▀███    ██  
██        ██   ██   ██▀ ▀▀ ▄██    ██   ██      ██▄█▀   ██ ██  ██   ██   ██    ██  
██▄        ▄█████   ██     ███    ██   ██     ▄████▀▀▀▀▀▀ ██   ▄█████   ██    ██  
▀██▄     ▄▀█   ██   ██     ▀██    ██   ██    ▄██▀██▄    ▄ ██  ██   ██   ██    ██  
  ▀▀█████▀▀████▀██▄████▄    ▀████▀███▄████████▀   ▀█████▀ ▀████████▀██▄████▄▄████▄
                                                                                  
                                                                                                                                
------------------------------------------------------------*/

#dimentials_card_detail {
    font-family: sans-serif;
    background-color: #92aced;
    color: #101632dd;
}

#dimentials_card_detail .profile {
    container-name: profile;
    container-type: inline-size;
}

#dimentials_card_detail .profile__wrapper {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
}

#dimentials_card_detail .profile__data-container {
    max-width: 600px;
    padding: 12px;
}

#dimentials_card_detail .profile__img-container {
    max-height: 500px;
    overflow: hidden;
}

#dimentials_card_detail .profile__img-expanded {
    max-width: 100%;
    width: 100vw;
    height: 50vw;
}

#dimentials_card_detail .profile__img-normal {
    display: none;
    max-width: 100%;
    width: 100vw;
    height: 50vw;
}

#dimentials_card_detail h1 {
    color: #48e;
}

#dimentials_card_detail .profile__skills-container h2 {
    color: #48e;
}

#dimentials_card_detail .profile__skill {
    list-style: none;
    display: flex;
    margin: 10px;
    max-width: 600px;
    margin-left: 0;
    align-items: center;
}


/* --------------------- PROFILE QUERIES --------------------- */

@container profile (min-width: 720px) {
    #dimentials_card_detail .profile__wrapper {
        flex-direction: row;
        padding: 10px;
        background-color: transparent;
        height: 90vh;
        margin: auto;
    }

    #dimentials_card_detail h1 {
        margin-top: 0;
        font-size: 4rem;
        text-wrap: balance;
    }

    #dimentials_card_detail .profile__data-container {
        max-width: 620px;
        background-color: rgb(255, 255, 255);
        border-radius: 0px 25px 25px 0;
        box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.566);
    }

    #dimentials_card_detail .profile__img-expanded {
        display: none;
    }

    #dimentials_card_detail .profile__img-container {
        max-height: initial;
    }

    #dimentials_card_detail .profile__img-normal {
        display: flex;
        height: 100%;
        width: 620px;
        object-fit: cover;
        border-radius: 25px 0 0 25px;
    }
}




/*--------------------------------------------------------------
                                                   
               ▄▄                                  
      ██      ▄██                             ██   
     ▄██▄      ██                             ██   
    ▄█▀██▄     ██▄████▄   ▄██▀██▄▀███  ▀███ ██████ 
   ▄█  ▀██     ██    ▀██ ██▀   ▀██ ██    ██   ██   
   ████████    ██     ██ ██     ██ ██    ██   ██   
  █▀      ██   ██▄   ▄██ ██▄   ▄██ ██    ██   ██   
▄███▄   ▄████▄ █▀█████▀   ▀█████▀  ▀████▀███▄ ▀████
                                                   
                                                   
------------------------------------------------------------*/

#dimentials_about {

}

#dimentials_about #myCarousel img {
    width: 100%;
}

#dimentials_about .faces img {
    display: inline;
    margin: auto auto auto 10px;
    position: relative;
    width: 8vw;
    height: 8vw;
    border-radius: 50%;
    box-shadow: 0 0 15px #131313;
}

#dimentials_about .dimentials-history img {
    width:30vw;

}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

.carousel {
    margin-bottom: 4rem;
  }
  
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; 
  }
  
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  


/*--------------------------------------------------------------

             ▄▄                              ▄▄          
███▀▀██▀▀███ ██                            ▀███          
█▀   ██   ▀█                                 ██          
     ██    ▀███   ▄▄█▀██  ▀████████▄    ▄█▀▀███  ▄█▀██▄  
     ██      ██  ▄█▀   ██   ██    ██  ▄██    ██ ██   ██  
     ██      ██  ██▀▀▀▀▀▀   ██    ██  ███    ██  ▄█████  
     ██      ██  ██▄    ▄   ██    ██  ▀██    ██ ██   ██  
   ▄████▄  ▄████▄ ▀█████▀ ▄████  ████▄ ▀████▀███▄████▀██▄
                                                           
                                                           
------------------------------------------------------------*/

#dimentials_shop{
    font-family: 'Poppins', sans-serif;
}


#dimentials_shop table {
    width:100%;
}

#dimentials_shop th, #dimentials_shop td {
    color: #FFFFFF;
}



#dimentials_shop .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 50px 200px;
}

#dimentials_shop .hero-img {
    flex-basis: 50%;
    text-align: center;
}

#dimentials_shop .hero-img img {
    width: 100%;
    margin-right: 50px;
    padding: 0 30px 0 0;
}

#dimentials_shop .hero-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #111111;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 20px;
}

#dimentials_shop .btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #111111;
    color: #FFFFFF;
    border-radius: 5px;
}

#dimentials_shop .ofert {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

#dimentials_shop .ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}

#dimentials_shop .ofert.img {
    flex-basis: 50%;
    margin-right: 15px;
}

#dimentials_shop .ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

#dimentials_shop .ofert-img img {
    width: 250px;
}

#dimentials_shop .ofert-txt {
    flex-basis: 50%;
    text-align: center;
}

#dimentials_shop .ofert-txt h3 {
    color:#111111;
    font-family: poppins, sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#dimentials_shop .btn-2 {
    display: inline-block;
    padding: 7px 10px;

}

#dimentials_shop .products {
    padding: 50px 0;
    text-align: center;
}

#dimentials_shop .products h2 {
    color: #111111;
    font-family: poppins, sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

#dimentials_shop .product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:50px;
}

#dimentials_shop .product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

#dimentials_shop .product img {
    width: 250px;
    height:370px;
    margin-bottom: 20px;
}

#dimentials_shop .product h3 {
    font-size: 20px;
    color: #111111;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}


#dimentials_shop .product p, #dimentials_body .precio {
    font-size:16px;
    color: #111111;
    margin-bottom: 15px;
}

#dimentials_shop .precio {
    font-weight: 800;
}

#dimentials_shop .icons {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

#dimentials_shop .icon-1 {
    flex-basis: calc(33.3% - 15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

#dimentials_shop .icon-txt h3 {
    font-size: 20px;
    color: #111111;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
}

#dimentials_shop .icon-txt p {
    font-size: 16px;
    color: #111111;
}

#dimentials_shop .blog {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

#dimentials_shop .blog-1 {
    flex-basis: calc(33.3% - 15px);
}

#dimentials_shop .blog-1 img {
    margin-bottom: 20px;
}

#dimentials_shop .blog-1 h3 {
    font-size: 20px;
    color: #111111;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

#dimentials_shop .blog-1 p {
    font-size: 16px;
    color: #111111;
}


#dimentials_shop .link h3 {
    font-size: 18px;
    color: #ffffff;
    font-family: poppins, sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#dimentials_shop .link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}


/*--------------------------------------------------------------
                                                   
                                                          
  ▄▄█▀▀▀█▄█                     ██                   ██   
▄██▀     ▀█                     ██                   ██   
██▀       ▀ ▄██▀██▄▀████████▄ ██████ ▄█▀██▄  ▄██▀████████ 
██         ██▀   ▀██ ██    ██   ██  ██   ██ ██▀  ██  ██   
██▄        ██     ██ ██    ██   ██   ▄█████ ██       ██   
▀██▄     ▄▀██▄   ▄██ ██    ██   ██  ██   ██ ██▄    ▄ ██   
  ▀▀█████▀  ▀█████▀▄████  ████▄ ▀████████▀██▄█████▀  ▀████
                                                          
                                                   
------------------------------------------------------------*/

#dimentials_contact h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 22px;

}
#dimentials_contact body {
    margin:0;
    font-family: sans-serif;
    color:#eee;
    background: linear-gradient(to bottom,#333, #000);
}

#dimentials_contact form {
    background-color: transparent;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    box-shadow: 0px 0px 25px 0px rgba(255, 255, 255, 0.361);
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 50px;
}

#dimentials_contact .form_input {
    padding: 6px 20px;
}

#dimentials_contact input, #dimentials_contact textarea, #dimentials_contact select {
    width: 100%;
    padding: 6px 8px; /* 6 arriba y abajo, 12 a la izq y derecha */
    box-sizing: border-box;
    border: 1px solid #666; 
    background-color: transparent;
    border-left: 2px solid #107d8e;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.645);
    color: #ddd;
    border-radius: 4px;
    margin: 6px 0;
}

#dimentials_contact option{
    background-color: #222;
    /* no se puede añadir margin ni padding, se necesitaria usar una libreria aposta de Javascript para eso*/
}
#dimentials_contact textarea {
    min-width: 100%;
    resize: vertical;
    max-height: 200px;
    min-height: 200px;
    font-family: sans-serif;;
}

#dimentials_contact label {
    font-size:0,88em;
}

#dimentials_contact .checkbox {
    width: auto;
    height: 15px;
}

#dimentials_contact fieldset {
    margin:20px 0;
    border:1px solid #666;
    border-radius: 5px;
    padding: 8px 8px 10px 10px;
    margin: 20px

}

#dimentials_contact legend {
    padding: 0 6px;
    color: #777;
}




/*--------------------------------------------------------------                                               
                            ▄▄             
▀████▀                      ██             
  ██                                       
  ██       ▄██▀██▄ ▄█▀████████ ▀████████▄  
  ██      ██▀   ▀████  ██   ██   ██    ██  
  ██     ▄██     ███████▀   ██   ██    ██  
  ██    ▄███▄   ▄███        ██   ██    ██  
██████████ ▀█████▀ ███████▄████▄████  ████▄
                  █▀     ██                
                  ██████▀                                                                    
------------------------------------------------------------*/


#dimentials_login {

}


#dimentials_login .box {
    position: relative;
    width: 380px;
    height: 420px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

#dimentials_login .box::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}

#dimentials_login .box::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

#dimentials_login .borderline {
    position: absolute;
    top: 0;
    inset: 0;
}

#dimentials_login .borderLine::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

#dimentials_login .borderLine::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
#dimentials_login .box form {
    position: absolute;
    inset: 4px;
    background-color: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

#dimentials_login .box form h2 {
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}

#dimentials_login .box form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

#dimentials_login .box form .inputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

#dimentials_login .box form .inputBox span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

#dimentials_login .box form .inputBox input:valid ~ span,
#dimentials_login .box form .inputBox input:focus ~ span {
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

#dimentials_login .box form .inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

#dimentials_login .box form .inputBox input:valid ~ i,
#dimentials_login .box form .inputBox input:focus ~ i {
    height: 44px;
}

#dimentials_login .box form .links {
    display: flex;
    justify-content: space-between;
}

#dimentials_login .box form .links a {
    margin: 10px 0;
    font-size: 0.75em;
    color: #8f8f8f;
    text-decoration: none;
}

#dimentials_login .box form .links a:hover,
#dimentials_login .box form .links a:nth-child(2) {
    color: #fff;
}

#dimentials_login .box form input [type="submit"] {
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

#dimentials_login .box form input [type="submit"]:active {
    opacity: 0.8;
}





/*--------------------------------------------------------------
                                                   
                                                    
███▀▀██▀▀███                                        
█▀   ██   ▀█                                        
     ██      ▄▄█▀██▀███▄███▀████████▄█████▄  ▄██▀███
     ██     ▄█▀   ██ ██▀ ▀▀  ██    ██    ██  ██   ▀▀
     ██     ██▀▀▀▀▀▀ ██      ██    ██    ██  ▀█████▄
     ██     ██▄    ▄ ██      ██    ██    ██  █▄   ██
   ▄████▄    ▀█████▀████▄  ▄████  ████  ████▄██████▀
                                                    

                                                   
------------------------------------------------------------*/

#dimentials_terms h1 {
    display: inline-block;
    width: 30vw;
}

#dimentials_terms body {
    width: 99vw;
    background-color: #333333;
    color: var(--text-color);
}

#dimentials_terms main {
    margin: 3.1vh 5vw;
}


#dimentials_terms .contenedor {
    width: 99.2vw;
}


/*--------------------------------------------------------------
                                                   
                    ▄▄                             ▄▄                  
▀███▀▀▀██▄          ██                             ██   ██             
  ██   ▀██▄                                             ██             
  ██   ▄██▀███▄███▀███ ▀██▀   ▀██▀ ▄█▀██▄  ▄██▀██▀███ ██████▀██▀   ▀██▀
  ███████   ██▀ ▀▀  ██   ██   ▄█  ██   ██ ██▀  ██  ██   ██    ██   ▄█  
  ██        ██      ██    ██ ▄█    ▄█████ ██       ██   ██     ██ ▄█   
  ██        ██      ██     ███    ██   ██ ██▄    ▄ ██   ██      ███    
▄████▄    ▄████▄  ▄████▄    █     ▀████▀██▄█████▀▄████▄ ▀████   ▄█     
                                                              ▄█       
                                                            ██▀        

                                                   
------------------------------------------------------------*/

#dimentials_privacy h1 {
    display: inline-block;
    width: 30vw;
}

#dimentials_privacy body {
    width: 99vw;
    background-color: #333333;
    color: var(--text-color);
}

#dimentials_privacy main {
    margin: 3.1vh 5vw;
}


#dimentials_privacy .contenedor {
    width: 99.2vw;
}


/*--------------------------------------------------------------
                                                   
                                    ▄▄  
▀████▀                            ▀███  
  ██                                ██  
  ██       ▄▄█▀██ ▄█▀█████▄█▀██▄    ██  
  ██      ▄█▀   ████  ██ ██   ██    ██  
  ██     ▄██▀▀▀▀▀▀█████▀  ▄█████    ██  
  ██    ▄███▄    ▄█      ██   ██    ██  
██████████ ▀█████▀███████▀████▀██▄▄████▄
                 █▀     ██              
                 ██████▀                
                                                                                                
------------------------------------------------------------*/

#dimentials_legal h1 {
    display: inline-block;
    width: 30vw;
}

#dimentials_legal body {
    width: 99vw;
    background-color: #333333;
    color: var(--text-color);
}

#dimentials_legal main {
    margin: 3.1vh 5vw;
}


#dimentials_legal .contenedor {
    width: 99.2vw;
}


/*--------------------------------------------------------------
                                                   
                                            
▀███▀▀▀███                                  
  ██    ▀█                                  
  ██   █  ▀███▄███▀███▄███  ▄██▀██▄▀███▄███ 
  ██████    ██▀ ▀▀  ██▀ ▀▀ ██▀   ▀██ ██▀ ▀▀ 
  ██   █  ▄ ██      ██     ██     ██ ██     
  ██     ▄█ ██      ██     ██▄   ▄██ ██     
▄██████████████▄  ▄████▄    ▀█████▀▄████▄   
                                            
                                            
                                                   
------------------------------------------------------------*/







/*--------------------------------------------------------------
                                                   
                                       ▄▄                                                    
▀███▀▀▀██▄                             ██                                       ██           
  ██   ▀██▄                                                                     ██           
  ██   ▄██▀███▄███  ▄██▀██▄▀██▀   ▀██▀███ ▀████████▄█████▄  ▄█▀██▄ ▀████████▄ ██████  ▄▄█▀██ 
  ███████   ██▀ ▀▀ ██▀   ▀██ ▀██ ▄█▀   ██   ██    ██    ██ ██   ██   ██    ██   ██   ▄█▀   ██
  ██        ██     ██     ██   ███     ██   ██    ██    ██  ▄█████   ██    ██   ██   ██▀▀▀▀▀▀
  ██        ██     ██▄   ▄██ ▄█▀ ██▄   ██   ██    ██    ██ ██   ██   ██    ██   ██   ██▄    ▄
▄████▄    ▄████▄    ▀█████▀▄██▄   ▄██▄████▄████  ████  ████▄████▀██▄████  ████▄ ▀████ ▀█████▀

                                                   
------------------------------------------------------------*/







/*--------------------------------------------------------------
                                                   
                             ▄▄    ▄▄                                   ▄▄  
 ▄█▀▀▀█▄█                  ▀███  ▀███   ▄▄█▀▀▀█▄█                     ▀███  
▄██    ▀█                    ██    ██ ▄██▀     ▀█                       ██  
▀███▄   ▀████████▄  ▄▄█▀██   ██    ██ ██▀       ▀▄█▀██▄ ▀███▄███   ▄█▀▀███  
  ▀█████▄ ██   ▀██ ▄█▀   ██  ██    ██ ██        ██   ██   ██▀ ▀▀ ▄██    ██  
▄     ▀██ ██    ██ ██▀▀▀▀▀▀  ██    ██ ██▄        ▄█████   ██     ███    ██  
██     ██ ██   ▄██ ██▄    ▄  ██    ██ ▀██▄     ▄▀█   ██   ██     ▀██    ██  
█▀█████▀  ██████▀   ▀█████▀▄████▄▄████▄ ▀▀█████▀▀████▀██▄████▄    ▀████▀███▄
          ██                                                                
        ▄████▄                                                              

                                                   
------------------------------------------------------------*/











/*--------------------------------------------------------------
                                                   
                                                                            ▄▄  
▀████▄     ▄███▀                            ▄▄█▀▀▀█▄█                     ▀███  
  ████    ████                            ▄██▀     ▀█                       ██  
  █ ██   ▄█ ██   ▄██▀██▄▀████████▄  ▄██▀████▀       ▀▄█▀██▄ ▀███▄███   ▄█▀▀███  
  █  ██  █▀ ██  ██▀   ▀██ ██    ██  ██   ▀▀█        ██   ██   ██▀ ▀▀ ▄██    ██  
  █  ██▄█▀  ██  ██     ██ ██    ██  ▀█████▄█▄        ▄█████   ██     ███    ██  
  █  ▀██▀   ██  ██▄   ▄██ ██    ██  █▄   ████▄     ▄▀█   ██   ██     ▀██    ██  
▄███▄ ▀▀  ▄████▄ ▀█████▀▄████  ████▄██████▀ ▀▀█████▀▀████▀██▄████▄    ▀████▀███▄
                                                                                
                                                                                
                                                   
------------------------------------------------------------*/









/*--------------------------------------------------------------
                                                   
                      ▄▄                                                         ▄▄  
▀███▀▀▀██▄          ▀███           ██            ▄▄█▀▀▀█▄█                     ▀███  
  ██    ▀██▄          ██           ██          ▄██▀     ▀█                       ██  
  ██     ▀██ ▄▄█▀██   ██   ▄▄█▀████████  ▄▄█▀████▀       ▀▄█▀██▄ ▀███▄███   ▄█▀▀███  
  ██      ██▄█▀   ██  ██  ▄█▀   ██ ██   ▄█▀   ███        ██   ██   ██▀ ▀▀ ▄██    ██  
  ██     ▄████▀▀▀▀▀▀  ██  ██▀▀▀▀▀▀ ██   ██▀▀▀▀▀▀█▄        ▄█████   ██     ███    ██  
  ██    ▄██▀██▄    ▄  ██  ██▄    ▄ ██   ██▄    ▄██▄     ▄▀█   ██   ██     ▀██    ██  
▄████████▀   ▀█████▀▄████▄ ▀█████▀ ▀████ ▀█████▀ ▀▀█████▀▀████▀██▄████▄    ▀████▀███▄
                                                                                     
                                                                                                                                                                                                             
------------------------------------------------------------*/



/* Media Queries */

/* Col-sm */
@media (min-width: 576px) {
    #dimentials_index .social-icons a {
        font-size: 60px;
    }

    /*----------------------------- Card Gallery --------------------- */


}

/* Col-md */

@media (min-width: 768px) {
    #dimentials_index .card-container {
        border-radius: 10px 0 0 10px;
    }

    #dimentials_index .card-info {
        margin-top: 0; 
        border-bottom: 1px solid #ddd;
        border-radius: 0 10px 10px 0;
    }

    #dimentials_index .card-info h3 {
        font-size: 80px;
    }

    #dimentials_index .card-info h4 {
        margin-top: 0;
        font-size: 53px;
    }

    #dimentials_index .card-info button {
        padding: 20px 50px;
        font-size: 26px;
        margin: 42px auto 0;
    }

    #dimentials_index #featured_cards {
        margin-bottom: 70px;
    }

    #dimentials_index #featured_title h2 {
        font-size: 77px;
    }

/*----------------------------- About --------------------- */

.carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

}

/* Col-lg */
@media (min-width: 992px) {
    #dimentials_index .home-img img {
        top: 3vw;
        width: 32vw;
    }

    #dimentials_index .home-content h1 {
        font-size: 6vw;
    }

    #dimentials_index .home-content h3 {
        font-size: 4vw;
    }

    #dimentials_index .home-content p {
        font-size: 2vw;
    }

    #dimentials_index .dim-btn-index-home .btn {
        font-size: 30px;
    }

    #dimentials_index .card-info h3 {
        margin-top: 0;
        font-size: 100px;
    }

   /*----------------------------- Tienda --------------------- */
#dimentials_shop .menu {
    padding: 20px;
}
#dimentials_shop .menu label {
    display: initial;
}
#dimentials_shop .menu .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #181818;
    display: none;
}
#dimentials_shop .menu .navbar ul li {
    width:100%;
}
#dimentials_shop .menu ul li a {
    color: #FFFFFF;
}
#dimentials_shop #menu:checked ~ .navbar {
    display: initial;
}

#dimentials_shop .logo {
    display: none;
}

#dimentials_shop .submenu:hover #carrito {
    min-width:100%,
}

#dimentials_shop .submenu:hover #carrito {
    min-width:100%;
}
#dimentials_shop .hero-content {
    padding: 50px 0;
    flex-direction: column;
}
#dimentials_shop .hero-img {
    display: none;
}
#dimentials_shop .hero-txt {
    flex-basis: 100%;
    text-align: center;
}

#dimentials_shop .hero-txt h1 {
    font-size: 70px;
}

#dimentials_shop .ofert {
    padding: 30px 30px 0 30px;
    flex-direction: column;
}

#dimentials_shop .ofert-1 {
    margin-bottom: 30px;
}

#dimentials_shop .products {
    padding: 0 30px 30px 30px;
}

#dimentials_shop .products h2 {
    margin-bottom: 30px;
}

#dimentials_shop .product-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
}

#dimentials_shop .product img {
    width: 200px;
    height: 200px;
}

#dimentials_shop .icons {
    padding: 30px;
    flex-direction: column;
}

#dimentials_shop .icons-1 {
    margin-bottom: 30px;
}

 /*----------------------------- About --------------------- */
#dimentials_about .featurette-heading {
    margin-top: 7rem;
  }

}
    


/* Col-xl */
@media (min-width: 1200px) {


    /*----------------------------- Card Gallery --------------------- */

}

/* Col-xxl */
@media (min-width: 1400px) {
    #dimentials_index .home-img img {
        width: 600px;
    }

    #dimentials_index .home-content h1 {
        font-size: 98px;
    }

     /*----------------------------- Card Gallery --------------------- */


}

