/*  */

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root {
    --primary-color: #ffffff;
    --secondary-color: #e54fad;
    --tertiary-color: #47d8ee;
    --quartary-color: #333333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: var(--quartary-color);
    color: var(--primary-color);
    position: sticky;
    top: 0vh;
    height: 8vh;
    z-index: 1000;
}

.logo-img {
    position: absolute;
    height: 8vh;
    margin-left: 15vw;
    z-index: 1;
}

header h1 {
    color: var(--quartary-color);
}

body {
    background-color: var(--quartary-color);
    color: var(--primary-color);
    width: 99vw;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

h1 {
    display: inline-block;
    width: 30vw;
}

.main-menu {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--quartary-color);
    align-items: center;
    transition: transform 0.3s;
    transform: translateY(-100%);
    width: 100vw;
}

.main-menu__item {
    padding: 1em;

}

.main-menu__link {
    color: var(--primary-color);
    text-decoration: none;
    text-transform: uppercase;
}

.main-menu--show {
    transform: translateY(25vh);
}

img {
    max-width: 100%;
}

.toggle-menu {
    width: 40px;
    position: absolute;
    top: 12.5rem;
    right: 1.5rem;
    cursor: pointer;
    filter: invert(1);
    z-index: 10;
}

main {
    margin: 3.1vh 5vw;
}

footer {
    background-color: var(--quartary-color);
    color: var(--primary-color);
    text-align: center;
}

footer img {
    height: 10vh;
    margin-top: 5vh;
}

footer ul {
    text-decoration: none;
    text-align: center;
}

footer ul li {
    padding: 5px;
    display: inline-block;
}

footer ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li a:hover,
footer ul li a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

.grid-legal {
    display: block;
}

.alert {
    position: fixed;
    top: 70vh;
    height: 30vh;
    margin-top: 20px;
}

.hidden {
    display: none;
}


/*.redes{
    color: #fff;
    background-color: #333333;
    display: inline-block;
    padding: 15em; 
    width: 100vw;
}*/

.logo-delante {
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 29%;
    z-index: 9999;
}

#carouselExampleIndicators {
    width: 40%;
    position: relative;
    display: block;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9998;
}
.alert-primary {
    position: sticky;
    top: 0;
    right: 0;
    height: 20vh;
    z-index: 10000; /* Asegúrate de que este valor sea mayor que el de otros elementos para que siempre esté en la parte superior */
}
