<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/mobile.css}">
  <link rel="stylesheet" th:href="@{/css/tablet.css}">
  <link rel="stylesheet" th:href="@{/css/desktop.css}">
  <link rel="stylesheet" th:href="@{/css/aminations.css}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <title>Sobre nosotros</title>
</head>

<body>
  <header th:replace="~{layouts/base :: headerplusnav2}"></header>

  <div class="contenedor">
    <main class="container">
      <h1>Dimentials: Un juego de cartas coleccionables</h1>

      <h2>Acerca de Dimentials</h2>

      <p>
        Dimentials es un juego de cartas coleccionables creado por Grupo3, una
        empresa de juegos de mesa con sede en Escaldes-Engordany, Andorra. El juego está
        diseñado para jugadores de 8 años en adelante y puede ser jugado
        por 2 jugadores.
      </p>

      <p>
        Dimentials se basa en un universo de fantasía único, con una rica
        historia y una amplia variedad de personajes y criaturas. Los
        jugadores asumen el papel de entrenadores que compiten entre sí
        para mantener la harmonía en ambas dimensiones.
      </p>

      <h2>El juego</h2>

      <p>
        Se juega con una baraja de cartas que se pueden usar para
        realizar acciones, atacar a los oponentes y defenderse de los mismos.
        Las cartas se pueden comprar, ganar o intercambiar con otros
        jugadores.
      </p>

      <p>
        Dimentials es un juego rápido y emocionante que requiere estrategia y
        habilidad. Es un juego perfecto para jugadores que buscan una
        experiencia de juego desafiante y gratificante.
      </p>

      <h2>Grupo3</h2>

      <p>
        Grupo3 se compromete a proporcionar a los jugadores una experiencia de
        juego de alta calidad. La empresa ofrece una amplia gama de productos
        de Dimentials, incluidos:
      </p>

      <ul class="list-group">
        <li class="list-group-item">Juegos de cartas básicas</li>
        <li class="list-group-item">Juegos de expansión</li>
        <li class="list-group-item">Promociones</li>
        <li class="list-group-item">Accesorios</li>
      </ul>

      <br>

      <p>
        Grupo3 también organiza torneos y eventos de Dimentials en todo el
        mundo.
      </p>

    </main>
  </div>
  <footer th:replace="~{layouts/base :: footer}"></footer>

  <script src="../static/js/template.js"></script>
</body>

</html>