<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/mobile.css}">
  <link rel="stylesheet" th:href="@{/css/tablet.css}">
  <link rel="stylesheet" th:href="@{/css/desktop.css}">
  <link rel="stylesheet" th:href="@{/css/aminations.css}">
  <link rel="stylesheet" th:href="@{/css/menu.css}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <title>Conceptos básicos</title>
</head>

<body>
  <header th:replace="~{layouts/base :: headerplusnav2}"></header>

  <div class="contenedor">
    <main class="container">
      <h1>Conceptos básicos</h1>
      <p> Idea: Mostrar una animación que se pone sobre una carta en específico y que señala uno a uno cada campo</p>

      <div class="accordion" id="accordionParent">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              1. Coste de juego (Play cost)
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>La energia que cuesta sacar la carta al campo</strong>
              Si no tienes suficiente energia en tu marcador, no podrás sacarla
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              2. Coste de evolución (Evolution cost)
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>La energia que cuesta evolucionar un dimential de la mesa</strong>
              Para poder evolucionar, se debe tener una carta...

              <div class="accordion" id="accordionChild">
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      VENTAJAS
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="Accordion-body-introduction"> 1: Permite, generalmente, sacar la criatura a un menor
                        coste en juego, tanto de forma total como parcial</p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                      <p class="Accordion-body-introduction"> 2: Cada vez que se evoluciona, se roba una carta del mazo.
                      </p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                      <p class="Accordion-body-introduction"> 3: Cada vez que se evoluciona, se roba una ca rta del
                        mazo. </p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Condiciones
                    </button>
                  </h2>
                  <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                      <p class="Accordion-body-introduction"> 1: Permite, generalmente, sacar la criatura a un menor
                        coste en juego, tanto de forma total como parcial</p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                      <p class="Accordion-body-introduction"> 2: Cada vez que se evoluciona, se roba una carta del mazo.
                      </p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                      <p class="Accordion-body-introduction"> 3: Cada vez que se evoluciona, se roba una ca rta del
                        mazo. </p>
                      <button type="button" class="btn btn-warning">Ejemplo</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin
                adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse
                plugin
                adds the appropriate classes that we use to style each element. These classes control the overall
                appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                custom
                CSS or overriding our default variables. It's also worth noting that just about any HTML can go within
                the
                <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>


        </div>
    </main>
  </div>
  <footer th:replace="~{layouts/base :: footer}"></footer>

  <script src="../static/js/template.js"></script>
</body>

</html>