<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
        <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        <title>Detalles de tu carta Dimential favorita</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body id="dimentials_card_detail">
        <!--------------------------- Navbar  ----------------------------->

        <header th:replace="~{layouts/base :: headerplusnav2}"></header>

        <!--------------------------- Parte principal  ----------------------------->

        <main class="profile container">
            <div class="profile__wrapper row">
                <div class="profile__img-container col-lg-6 col-md-12">
                    <img alt="Card Image" th:src="@{${'/images/cardDetail/card' + cardDetail.id + '.png'}}" class="profile__img-normal" />
                </div>
                <div class="profile__data-container col-lg-6 col-md-12">
                    <div class="profile__description">
                        <h1 th:text="${cardDetail.name}"></h1>
                        <h2 th:text="#{carddetail.description_title}">Descripcion</h2>
                        <p>
                            <span th:text="#{carddetail.description}"
                                >Protosauria is a powerful creature that can be found in the depths of the ocean. It is said that it has the ability to control the water and the creatures that inhabit
                                it. It is a very rare creature and it is said that it is the guardian of the ocean.</span
                            >
                        </p>
                    </div>
                    <div class="profile__skills-container">
                        <h2 th:text="#{carddetail.skills}">Skills</h2>
                        <p th:text="|${cardDetail.description}|">Texto por defecto</p>
                    </div>
                    <p><a class="btn btn-warning card-separator" id="button__shop" th:href="@{/cards}" th:text="#{index.gallery}">Inicio</a></p>

                </div>
            </div>
        </main>

        <!-- footer -->
        <footer th:replace="~{layouts/base :: footer}"></footer>

        <!-- Scripts -->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    </body>
</html>
