<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
        <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        <title>Cookies</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body id="dimentials_legal">
        <!--------------------------- Navbar  ----------------------------->

        <header th:replace="~{layouts/base :: headerplusnav2}"></header>

        <!--------------------------- Cookies ----------------------------->

        <div class="contenedor">
            <main class="container">
                <h1 th:text="|#{cookies.politicatitulo}:|">Política de Cookies</h1>

                <p th:text="|#{cookies.politica}:|">
                    En Grupo3, valoramos y respetamos tu privacidad mientras disfrutas del
                    emocionante mundo de Dimentials. Esta política de cookies explica cómo
                    utilizamos las cookies y otras tecnologías de seguimiento cuando visitas nuestro
                    sitio web.
                </p>

                <h3 th:text="|#{cookies.queson}:|">¿Qué son las cookies?</h3>

                <p th:text="|#{cookies.son}:|">
                    Las cookies son pequeños archivos de texto que se almacenan en tu dispositivo
                    cuando visitas un sitio web. Estas cookies contienen información que se utiliza
                    para mejorar tu experiencia de navegación y proporcionarte servicios
                    personalizados.
                </p>

                <h3 th:text="|#{cookies.uso}:|">¿Cómo utilizamos las cookies en Dimentials?</h3>

                <p th:text="|#{cookies.utilizamos}:|">Utilizamos cookies para diversos fines, incluyendo:</p>

                <ul>

                    <li th:text="|#{cookies.recordar}:|">
                        Recordar tus preferencias de idioma y configuración.Analizar cómo
                        interactúas con nuestro sitio web para mejorar su rendimiento y
                        funcionalidad.
                    </li>
                    <li th:text="|#{cookies.proporcionar}:|">Proporcionarte contenido personalizado y publicidad relevante.</li>
                    <li th:text="|#{cookies.facilitar}:|">Facilitar el inicio de sesión y la autenticación de usuarios.</li>
                </ul>

                <h3 th:text="|#{cookies.tipos}:|">Tipos de cookies que utilizamos</h3>

                <ul>
                    <li th:text="|#{cookies.esenciales}:|">
                        Cookies esenciales: Estas cookies son necesarias para el funcionamiento
                        básico de nuestro sitio web y no pueden ser desactivadas en nuestros
                        sistemas.
                    </li>
                    <li th:text="|#{cookies.rendimiento}:|">
                        Cookies de rendimiento: Estas cookies nos permiten analizar el rendimiento
                        de nuestro sitio web y mejorar su funcionamiento.
                    </li>
                    <li th:text="|#{cookies.funcionalidad}:|">
                        Cookies de funcionalidad: Estas cookies permiten que nuestro sitio web
                        recuerde tus preferencias y te proporcione una experiencia más
                        personalizada.
                    </li>
                    <li th:text="|#{cookies.publicidad}:|">
                        Cookies de publicidad: Estas cookies se utilizan para mostrar anuncios
                        relevantes para ti basados en tus intereses y actividades de navegación.
                    </li>
                </ul>

                <h3 th:text="|#{cookies.gestion}:|">Gestión de cookies</h3>

                <p th:text="|#{cookies.puedesgestionar}:|">
                    Puedes gestionar tus preferencias de cookies en cualquier momento a través de la
                    configuración de tu navegador. Sin embargo, deshabilitar ciertas cookies puede
                    afectar tu experiencia de navegación en nuestro sitio web.
                </p>

                <h3 th:text="|#{cookies.consentimiento}:|">Consentimiento</h3>

                <p th:text="|#{cookies.continuar}:|">
                    Al continuar utilizando nuestro sitio web, aceptas el uso de cookies de acuerdo
                    con esta política. Si no estás de acuerdo con el uso de cookies, te recomendamos
                    que ajustes la configuración de tu navegador o que no utilices nuestro sitio
                    web.
                </p>
                <br />
                <p th:text="|#{cookies.puedeactualizar}:|">
                    Esta política de cookies puede ser actualizada ocasionalmente para reflejar
                    cambios en nuestras prácticas de cookies. Te recomendamos que revises esta
                    página regularmente para estar al tanto de cualquier actualización.
                </p>

                <h3 th:text="|#{cookies.vigor}:|">Fecha de entrada en vigor: 27 de marzo de 2024</h3>

                <br />
            </main>
        </div>

        <!--------------------------- Footer ----------------------------->

        <footer th:replace="~{layouts/base :: footer}"></footer>

        <!--------------------------- Scripts ----------------------------->

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    </body>
</html>
