<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
    <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
    <title>Borrar carta</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</head>

<body id="dimentials_delete-card">
    
    <header th:replace="~{layouts/base :: headerplusnav2}"></header>
    
    <div class="container-fluid">

    <form th:action="@{/cards/card-deletion}" th:method="delete" class="needs-validation" novalidate>
        <h2> Carta que quieras borrar </h2>
        <div class="form-group">
            <label for="id" th:text="|#{cardform.id}:|">ID:</label>
            <input type="number" id="id" name="id" th:field="*{card.id}" class="form-control" required />
            <div class="invalid-feedback">
                Please provide a valid ID.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Insertar</button>
    </form>
    </div>

   <!-- footer -->
   <footer th:replace="~{layouts/base :: footer}"></footer>

   <!-- Scripts -->
   <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</body>

</html>