<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
        <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        <title>Inicio - Dimentials</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body id="dimentials_error">
        <!--------------------------- Navbar  ----------------------------->
        <header th:replace="~{layouts/base :: headerplusnav2}"></header>

        <!--------------------------- Cuerpo del error  ----------------------------->

        <div class="b-example-divider"></div>

        <div class="container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img th:src="@{${'/images/Error_miau.png'}}" alt="error cat image" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy" />
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3">Error 404 - Not Found</h1>
                    <p class="lead" th:text="|#{error.text}|">
                        ¡Oops! Parece que esta página está ocupada salvando su dimensión de un caos inesperado. Mientras tanto, volvamos a la página principal y sigamos explorando. 🚀🌀
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <a class="btn btn-primary" th:href="@{/shop}" th:text="|#{comicsoon.button}|">¡Voy a la tienda mientras tanto!</a>
                    </div>
                </div>
            </div>
        </div>

        <!--------------------------- Footer  ----------------------------->
        <footer th:replace="~{layouts/base :: footer}"></footer>

        <!--------------------------- Scripts  ----------------------------->
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    </body>
</html>
