<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/mobile.css}">
        <link rel="stylesheet" th:href="@{/css/tablet.css}">
        <link rel="stylesheet" th:href="@{/css/desktop.css}">
        <link rel="stylesheet" th:href="@{/css/aminations.css}">
        <link rel="stylesheet" th:href="@{/css/cardGallery.css}">
        <link rel="stylesheet" th:href="@{/css/menu.css}">
        <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <title>Galeria de cartas</title>
        <link rel="stylesheet" th:href="@{css/modulo_cartas_gallery.css}" />
    </head>
    <body>
        <header th:replace="~{layouts/base :: headerplusnav2}"></header>
        <main>
            <section id="gallery_cards">
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card1.png'}}" alt="card_Lavacus" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card2.png'}}" alt="card_Pyromagmus" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card3.png'}}" alt="card_Aurelius_Ignis" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card4.png'}}" alt="card_Nebulca" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card5.png'}}" alt="card_Nebulcoal" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card6.png'}}" alt="card_Nebulsmokar" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card7.png'}}" alt="card_Lizzar" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card8.png'}}" alt="card_Iguanitxeco" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card9.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card10.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card11.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card12.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card13.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card15.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card15.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card16.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card17.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card18.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card19.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card20.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card21.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card22.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card23.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card24.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card25.png'}}" alt="card_Citalflama" />
                </div>
            </section>

            <section id="main-card-container">
                <div id="zoom-card-container">
                    <div class="tiltcard" data-tilt data-tilt-glare>
                        <img id="img-active" src="#" alt="card_zoom" />
                    </div>
                </div>
                <button id="button__close" type="button">X</button>
                <button id="button__go-back" type="button">&lt;</button>
                <button id="button__keep-it-up" type="button">&gt;</button>
                <button id="button__view-more" type="button">Ver más</button>
            </section>
        </main>
        <footer th:replace="~{layouts/base :: footer}"></footer>
        <!--<script src="js/cards_gallery_mode_app.js"></script>
        <script src="js/vanilla_tilt.js"></script>-->
        <script th:src="@{${'../js/cards_gallery_mode_app.js'}}"></script>
        <script th:src="@{${'../js/vanilla_tilt.js'}}"></script>
    </body>
</html>
