<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
        <link rel="stylesheet" th:href="@{/css/styles.css}">
        <link rel="stylesheet" th:href="@{/css/mobile.css}">
        <link rel="stylesheet" th:href="@{/css/tablet.css}">
        <link rel="stylesheet" th:href="@{/css/desktop.css}">
        <link rel="stylesheet" th:href="@{/css/aminations.css}">
        <link rel="stylesheet" th:href="@{/css/cardGallery.css}">
        <link rel="stylesheet" th:href="@{/css/menu.css}">
        <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <title>Galeria de cartas</title>
        <link rel="stylesheet" th:href="@{css/modulo_cartas_gallery.css}" />
    </head>
    <body>
        <header th:replace="~{layouts/base :: headerplusnav2}"></header>
        <main>
            <section id="gallery_cards">
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/1_card_Lavacus.png'}}" alt="card_Lavacus" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/2_card_Pyromagmus.png'}}" alt="card_Pyromagmus" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/3_card_Aurelius_Ignis.png'}}" alt="card_Aurelius_Ignis" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/4_card_Nebulca.png'}}" alt="card_Nebulca" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/5_card_Nebulcoal.png'}}" alt="card_Nebulcoal" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/6_card_Nebulsmokar.png'}}" alt="card_Nebulsmokar" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/7_card_Lizzar.png'}}" alt="card_Lizzar" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/8_card_Iguanitxeco.png'}}" alt="card_Iguanitxeco" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/9_card_Citalflama.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/10_card_Quetzalizard.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/11_card_Caldronis.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/12_card_Calderion.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/13_card_Dracaldron.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/14_card_Frogan.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/15_card_Bullraga.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/16_card_Tarvoronaus.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/17_card_Embergante_I.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/18_card_Embergante_II.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/19_card_Embergante_III.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/20_card_Embergante_IV.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/21_card_Red_Dragon_Claws.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/22_card_Elemental_Lava_Spa.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/23_card_Creepy_Fire_Bomb.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/24_card_Hidden_Lava_guard.png'}}" alt="card_Citalflama" />
                </div>
                <div class="tiltcard" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/25_card_Burn_Scum_Breath.png'}}" alt="card_Citalflama" />
                </div>
            </section>

            <section id="main-card-container">
                <div id="zoom-card-container">
                    <div class="tiltcard" data-tilt data-tilt-glare>
                        <img id="img-active" src="#" alt="card_zoom" />
                    </div>
                </div>
                <button id="button__close" type="button">X</button>
                <button id="button__go-back" type="button">&lt;</button>
                <button id="button__keep-it-up" type="button">&gt;</button>
                <button id="button__view-more" type="button">Ver más</button>
            </section>
        </main>
        <footer th:replace="~{layouts/base :: footer}"></footer>
        <!--<script src="js/cards_gallery_mode_app.js"></script>
        <script src="js/vanilla_tilt.js"></script>-->
        <script th:src="@{${'../js/cards_gallery_mode_app.js'}}"></script>
        <script th:src="@{${'../js/vanilla_tilt.js'}}"></script>
    </body>
</html>
