<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
        <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
        <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        <title>Galeria de cartas</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body id="dim-card-gallery">
        <!--------------------------- Navbar  ----------------------------->

        <header th:replace="~{layouts/base :: headerplusnav2}"></header>

        <!--------------------------- Gallery  ----------------------------->

        <div class="b-example-divider"></div>

        <div class="hero-gallery container col-xxl-8 px-4 py-5">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img th:src="@{${'/images/20_Embergante.png'}}" alt="Embergante IV" class="d-block mx-lg-auto img-fluid" width="700" height="500" loading="lazy" />
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold text-body-emphasis lh-1 mb-3" th:text="|#{gallery.gluttony}|">La gula insaciable de Embergante</h1>
                    <p class="lead" th:text="|#{gallery.dinosaur}|">
                        Cónoc a Embergante, un imponente dinosaurio de lava que lidera un ejército de criaturas volcánicas y ardientes. La estrategia principal es invocar a Embergante y utilizar su
                        poder para dominar el campo de batalla, mientras sus subordinados de lava y fuego apoyan y fortalecen su presencia.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Este boton no hace nada</button>
                        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Este tampoco</button>
                    </div>
                </div>
            </div>
        </div>

        <section class="dim-gallery container" id="dim-gallery">
            <div class="row" id="gallery_cards">
                <div class="tiltcard col-6 col-md-4 col-lg-3" th:each="i : ${#numbers.sequence(1, 25)}" th:value="${i}" data-tilt data-tilt-glare>
                    <img th:src="@{${'/images/cardDetail/card'+ i + '.png'}}" alt="Embergante card deck" />
                </div>
            </div>
        </section>

        <!--------------------------- Modal  ----------------------------->

        <section id="main-card-container">
            <div id="relative-card-container">
                <div id="zoom-card-container">
                    <div class="tiltcard" data-tilt data-tilt-glare>
                        <img id="img-active" src="#" alt="card_zoom" />
                    </div>
                    <button class="btn btn-secondary" id="button__view-more" type="button">Ver más</button>
                    <button class="btn btn-warning" id="button__shop" type="button">Tienda</button>
                </div>
                <button class="dim-gallery-btn" id="button__close" type="button">X</button>
                <button class="dim-gallery-btn" id="button__go-back" type="button">&lt;</button>
                <button class="dim-gallery-btn" id="button__keep-it-up" type="button">&gt;</button>
            </div>
        </section>

        <!--------------------------- Footer  ----------------------------->

        <footer th:replace="~{layouts/base :: footer}"></footer>
        <script th:src="@{${'../js/cards_gallery_mode_app.js'}}"></script>

        <!--------------------------- Footer  ----------------------------->

        <script th:src="@{${'../js/vanilla_tilt.js'}}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    </body>
</html>
