<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/aminations.css}">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet" />
  <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/desktop.css}">
  <link rel="stylesheet" th:href="@{/css/index_dimentials.css}">
  <link rel="stylesheet" th:href="@{/css/menu_nav_dimential.css}">
  <title>Inicio - Dimentials&#169;</title>
</head>
<body>

  <header th:replace="~{layouts/base :: headerplusnav3}"></header>
  
  <!--------------------------- HERO RESPONSIVE  ----------------------------->

  <section class="home" id="home">
    <div class="home-content">
        <h1>Bienvenidos a <span>Dimentials</span></h1>
        <h3 class="text-animation">Vive una aventura <span></span></h3>
        <p>
            Números portales han comenzado a aparecer a lo largo y ancho de la Tierra.
            Equípate y descubre nuevas dimensiones llenas de posibilidades... y CRIATURAS.
        </p>
        <div class="social-icons">
            <a href="#"><i class="bx bxl-steam"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>

        <div class="btn-group">
            <a href="#" class="btn">Galeria</a>
            <a href="#contact" class="btn">Contacto</a>
        </div>
    </div>

    <div class="home-img">
        <img src="img/1_Bicho_de_agua_normal.png" alt="" />
    </div>
</section>


<!--------------------------- Tienda Promo  ----------------------------->
<section id="featured_cards">
    <div id="featured_title">
        <h3>Visita nuestra</h3>
        <h2>Tienda de Cartas DIMENTIALS</h2>
    </div>
    <div class="card-section">
        <div class="card-container">
            <div class="card" id="card-1">
                <div class="card-front">
                    <img src="img/cards/1_card_Lavacus.png" alt="" />
                </div>
                <div class="card-back">
                    <img src="img/cards/0_dorso_carta.png" alt="" />
                </div>
            </div>
        </div>
        <div class="card-info">
            <h3>Más de</h3>
            <h4><span>25 cartas </span> te están esperando</h4>
            <button>Learn More</button>
        </div>
    </div>
</section>

<!--------------------------- Tienda Promo  ----------------------------->

      <section class="section2 section-even">
        <section class="bg-light py-4 my-5">
          <div class="padding">
            <div class="row">
              <div class="col-12">
                <h2 class="mb-3">Novedades</h2>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg" class="card-image-top"
                    alt="thumbnail">

                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">What is HTML</a></h3>
                    <p class="card-text">HTML stands for Hyper Text Markup Language, It helps to learn web development
                      and designing. </p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/3848158/pexels-photo-3848158.jpeg" class="card-image-top"
                    alt="thumbnail">

                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">Why We Use HTML</a></h3>
                    <p class="card-text">We use HTML to make website and that website helps to gain very much
                      knowledge.Pellentesque dictum consequat tincidunt. Sed tincidunt tortor nec vulputate gravida.</p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/2343170/pexels-photo-2343170.jpeg" class="card-image-top"
                    alt="thumbnail">
                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">Where do people came from?</a></h3>
                    <p class="card-text">Pellentesque dictum consequat tincidunt. Sed tincidunt tortor nec vulputate
                      gravida. Nam sapien nisi, malesuada at sapien suscipit,</p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

  <footer th:replace="~{layouts/base :: footer}"></footer>

  <!--
    <script src="../static/js/template.js"></script>

-->
<script src="js/index_page.js"></script>
<script src="js/vanilla_tilt.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="js/menu_nav_dimential.js"></script>
</body>



</html>