<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet" />
  <!-- <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet" /> -->
  <link rel="stylesheet" th:href="@{/css/index_dimentials.css}">
  <title>Inicio - Dimentials&#169;</title>
</head>
<body>

  <!--------------------------- Navbar  ----------------------------->

  <header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <a class="navbar-brand" href="#">Dimentials</a>
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown justify-content-center">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownHome"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <strong>Cartas</strong>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
                        <a class="dropdown-item" th:href="@{/gallery_cards}" 
                            >D.I Gula Insaciable de Embergante</a
                        >
                        <a class="dropdown-item" th:href="@{/cards}"
                        >Detalles cartas</a
                        >
                        <a class="dropdown-item" href="#"
                            >D.I Justicia Divina de Lofair 2</a
                        >
                    </div>
                </li>
                <li class="nav-item dropdown justify-content-center">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownProducts"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        FAQ
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                        <a class="dropdown-item" th:href="@{/about}">Sobre nosotros</a>
                        <a class="dropdown-item" th:href="@{/faq}">Sobre el juego DIMENTIALS TCG</a>
                        <a class="dropdown-item" th:href="@{/contact}">Contacto</a>
                    </div>
                </li>
                <li class="nav-item dropdown justify-content-center">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownGallery"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Recursos
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownGallery">
                        <a class="dropdown-item" href="#">Creador de cartas</a>
                        <a class="dropdown-item" th:href="@{/basic_concepts}">Conceptos básicos</a>
                        <a class="dropdown-item" th:href="@{/basic_strategy}">Estrategias básicas</a>
                    </div>
                </li>
                <li class="nav-item dropdown justify-content-center">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdownCareers"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        Juego Digital
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownCareers">
                        <a class="dropdown-item" href="#">Demo en Itch.io</a>
                        <a class="dropdown-item" href="#">Wishlist en Steam</a>
                    </div>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto2">
                <li class="nav-item">
                    <a class="nav-link" href="#"> <strong>Tienda</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
  
  <!--------------------------- HERO RESPONSIVE  ----------------------------->
  <section class="home container" id="home">
    <div class="row">
      <div class="home-content col-xxl-6"> <!-- xs <576px sm > 576px md >768px lg> 992px xl>1200px xxl>1400px -->
        <h1>Bienvenidos a <span>Dimentials</span></h1>
        <h3 class="text-animation">Vive una aventura <span></span></h3>
        <p>
            Números portales han comenzado a aparecer a lo largo y ancho de la Tierra.
            Equípate y descubre nuevas dimensiones llenas de posibilidades... y CRIATURAS.
        </p>
        <div class="social-icons">
            <a href="#"><i class="bx bxl-steam"></i></a>
            <a href="#"><i class="bx bxl-instagram"></i></a>
            <a href="#"><i class="bx bxl-youtube"></i></a>
            <a href="#"><i class="bx bxl-twitter"></i></a>
        </div>

        <div class="btn-group">
            <a href="#" class="btn">Galeria</a>
            <a href="#contact" class="btn">Contacto</a>
        </div>
      </div>
    </div>

    <div class="home-img col-xxl-4">
        <img th:src="@{${'/images/1_Bicho_de_agua_normal.png'}}" alt="" />
    </div>
</section>


<!--------------------------- Tienda Promo  ----------------------------->
<section id="featured_cards">
    <div id="featured_title">
        <h3>Visita nuestra</h3>
        <h2>Tienda de Cartas DIMENTIALS</h2>
    </div>
    <div class="card-section">
        <div class="card-container">
            <div class="card card-anim" id="card-1">
                <div class="card-front">
                    <img src="images/cardDetail/card1.png" alt="" />
                </div>
                <div class="card-back">
                    <img src="images/cardDetail/card0.png" alt="" />
                </div>
            </div>
        </div>
        <div class="card-info">
            <h3>Más de</h3>
            <h4><span>25 cartas </span> te están esperando</h4>
            <button>Learn More</button>
        </div>
    </div>
</section>

<!-- footer -->

<footer th:fragment="footer">
  <img class="grid-logo" th:src="@{${'/images/Dimentials_Logo_Texto.png'}}">
  <h4 class="grid-title">The Dimentials Company</h4>
  <ul class="grid-redes">
      <h4>Redes sociales</h4>
      <li><a href="#"><i class="fa-brands fa-instagram"></i> </a></li>
      <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
      <li><a href="#"><i class="fa-brands fa-twitch"></i> </a></li>
      <li><a href="#"><i class="fa-brands fa-x"></i></a></li>
  </ul>
  <ul class="grid-legal">
      <h4>Aspecto legal</h4>
      <li><a th:href="@{/cookies}">Política de cookies</a></li>
      <li><a th:href="@{/privacy}">Aviso de privacidad</a></li>
      <li><a th:href="@{/terms}">Condiciones de uso</a></li>
  </ul>
  <p class="grid-copyright">Dimentials&#169; 2024 es una marca registrada por RómpelHielo&#169;</p>
</footer>

  <!--
    <script src="../static/js/template.js"></script>

-->
<script src="js/index_page.js"></script>
<script src="js/vanilla_tilt.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
<script src="js/menu_nav_dimential.js"></script>
</body>



</html>