<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/mobile.css}">
  <link rel="stylesheet" th:href="@{/css/tablet.css}">
  <link rel="stylesheet" th:href="@{/css/desktop.css}">
  <link rel="stylesheet" th:href="@{/css/aminations.css}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <title>Inicio - Dimentials&#169;</title>
</head>



<body>
  <header th:replace="~{layouts/base :: headerplusnav}"></header>

  <div class="contenedor">

    <main class="container-fluid">

      <section class="section1 section-odd">

        <div id="carouselExampleIndicators" class="carousel slide">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img th:src="@{${'/images/1_carta_nebulsmokar.png'}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img th:src="@{${'/images/2_carta_lizzar.png'}}" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img th:src="@{${'/images/3_carta_frogan.png'}}" class="d-block w-100" alt="...">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previo</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
          </button>
        </div>

      </section>




      <section class="section2 section-even">
        <section class="bg-light py-4 my-5">
          <div class="padding">
            <div class="row">
              <div class="col-12">
                <h2 class="mb-3">Novedades</h2>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg" class="card-image-top"
                    alt="thumbnail">

                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">What is HTML</a></h3>
                    <p class="card-text">HTML stands for Hyper Text Markup Language, It helps to learn web development
                      and designing. </p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/3848158/pexels-photo-3848158.jpeg" class="card-image-top"
                    alt="thumbnail">

                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">Why We Use HTML</a></h3>
                    <p class="card-text">We use HTML to make website and that website helps to gain very much
                      knowledge.Pellentesque dictum consequat tincidunt. Sed tincidunt tortor nec vulputate gravida.</p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-4">
                <div class="card my-3">

                  <img src="https://images.pexels.com/photos/2343170/pexels-photo-2343170.jpeg" class="card-image-top"
                    alt="thumbnail">
                  <div class="card-body">
                    <h3 class="card-title"><a href="#" class="text-secondary">Where do people came from?</a></h3>
                    <p class="card-text">Pellentesque dictum consequat tincidunt. Sed tincidunt tortor nec vulputate
                      gravida. Nam sapien nisi, malesuada at sapien suscipit,</p>
                    <div>
                      <a href="#" class="btn btn-primary">¡Quiero saber más!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </section>

      <!--
        <section class="section3 section-odd">
          <img class="fondo" alt="Fondo" src="img/xxx.jpg" />
          <div class="divide">
            <article>
              <h3>Título S3-A1</h3>
              <button type="button" href="#">Botón S3-A1.1</button>
              <img src="img/pkmn.png" />
              <h4>Título S3-A1</h4>
              <button type="button" href="#">Botón S3-A1.2</button>
            </article>
            <article>
              <h3>Título S3-A2</h3>
              <button type="button" href="#">Botón S3-A2.1</button>
              <img src="img/pkmn.png" />
              <h4>Título S3-A2</h4>
              <button type="button" href="#">Botón S3-A2.2</button>
            </article>
          </div>
        </section>
        -->

      <section class="section4 section-even">
        <div class="divide">
          <article>
            <h3>¡Aprende en directo!</h3>
            <p>
              ¡Únete a la comunidad de Dimentials en Twitch para descubrir batallas épicas, estrategias avanzadas y
              emocionantes torneos en vivo! ¡Visita nuestro canal en Twitch hoy mismo y sé parte de la diversión! 🃏🎮
            </p>

            <button type="button" class="btn btn-primary boton" href="#">¡Voy de cabeza a la plataforma morada!</button>
          </article>
        </div>
        <div class="image-even">
          <img alt="Imagen S4" th:src="@{${'/images/section4-twitchSscreenshot.png'}}" />
        </div>
      </section>

      <section class="section5 section-odd">
        <div class="image-odd">
          <img alt="Imagen S5" th:src="@{${'/images/1_carta_nebulsmokar.png'}}" />
        </div>

        <div class="divide">
          <article>
            <h3>Adéntrate en los portales dimensionales</h3>
            <h4>Desearás haberlo hecho antes</h4>
            <p>
              Aprende lo básico para iniciarte en el mundo de Dimentials y poder hacer frente
              a todo lo que te acecha en ambas dimensiones a través de sus portales. Con esta guía
              aprenderás todo lo necesario para adentrarte en este gran universo: cómo se juega,
              qué estrategias debes seguir, qué criaturas usar... ¡e incluso cómo sorprender a tus amigos!
            </p>
            <button type="button" class="btn btn-primary boton" href="#">¡Visita la guía de iniciación!</button>
          </article>
        </div>
      </section>

      <section class="section6 section-even">
        <div class="divide">
          <article>
            <h3>Profundiza en el maravilloso mundo Dimential</h3>
            <p>
              Bienvenido a la guía avanzada de Dimentials, un emocionante juego de cartas estratégico donde los
              jugadores se enfrentan utilizando poderosas criaturas y habilidades dimensionales.
              En Dimentials, cada jugador construye un mazo de cartas que representa a sus criaturas y hechizos únicos.
              Durante el juego, los jugadores despliegan sus cartas en el campo de batalla, desencadenando ataques,
              defensas y efectos especiales para dominar a sus oponentes.
              La clave para la victoria en Dimentials radica en la estrategia y la planificación. Los jugadores deben
              tomar decisiones tácticas sobre qué cartas jugar, cuándo hacerlo y cómo aprovechar al máximo las
              habilidades de sus criaturas.
              Explora el emocionante mundo de Dimentials, donde las dimensiones se entrelazan y las batallas son épicas.
              ¡Prepárate para desafiar a tus amigos y convertirte en el maestro dimensional definitivo!
            </p>

            <button type="button" class="btn btn-primary boton" href="#">¡Visita la guía avanzada!</button>
          </article>
        </div>
        <div class="image-even">
          <img alt="Imagen S6" th:src="@{${'/images/2_carta_lizzar.png'}}" />
        </div>
      </section>
      <!--
        <section class="section7 section-odd">
          <img class="fondo" alt="Fondo" src="img/xxx.jpg" />

          <div class="divide">
            <img alt="Imagen S7" src="img/pkmn.png" />

            <article>
              <h3>Título S7</h3>
              <p>Párrafo S7</p>
              <button type="button" href="#">Botón S7</button>
            </article>
          </div>
        </section>

        <section class="section8 section-even">
          <img class="fondo" alt="Fondo" src="img/xxx.jpg" />
          <div class="divide">
            <article>
              <h3>Título S8</h3>
              <p>Párrafo S8</p>
              <button type="button" href="#">Botón S8</button>
            </article>
            <img alt="Imagen S6" src="img/pkmn.png" />
          </div>
        </section>
        
        <div
          class="alert alert-primary  alert-dismissible fade show fixed-bottom d-block"
          role="alert"
        >
          <h4 class="alert-heading">¡Aviso de cookies!</h4>
          <p>
            Este sitio web utiliza cookies para mejorar su experiencia de
            usuario. Al utilizar nuestro sitio web, usted acepta el uso de
            cookies.
          </p>
          <p>
            <a href="cookies.html" class="btn btn-outline-primary">
              Más información
            </a>
            <button
              type="button"
              class="btn btn-outline-primary"
              id="rechazar-cookies"
            >
              Rechazar cookies
            </button>
            <button type="button" class="btn btn-primary" id="aceptar-cookies">
              Aceptar cookies
            </button>
          </p>
        </div>
        -->
    </main>
  </div>

  <footer th:replace="~{layouts/base :: footer}"></footer>

  <!--
    <script src="../static/js/template.js"></script>

-->
  <script src="../static/js/menu.js"></script>

</body>



</html>