<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dimential_nav_bar</title>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
            rel="stylesheet" />
        <link
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet" />
        <link rel="stylesheet" href="css/menu_nav_dimential.css" />
    </head>
    <body>
        <!---------------------------Navbar Responsive  ----------------------------->

        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Dimentials</a>
                <button
                    class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown justify-content-center">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownHome"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                <strong>Cartas</strong>
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownHome">
                                <a class="dropdown-item" href="#"
                                    >D.I Gula Insaciable de Embergante</a
                                >
                                <a class="dropdown-item" href="#"
                                    >D.I Justicia Divina de Lofair 2</a
                                >
                            </div>
                        </li>
                        <li class="nav-item dropdown justify-content-center">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownProducts"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                FAQ
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownProducts">
                                <a class="dropdown-item" href="#">Sobre nosotros</a>
                                <a class="dropdown-item" href="#">Sobre el juego DIMENTIALS TCG</a>
                                <a class="dropdown-item" href="#">Contacto</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown justify-content-center">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownGallery"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                Recursos
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownGallery">
                                <a class="dropdown-item" href="#">Creador de cartas</a>
                                <a class="dropdown-item" href="#">Guias de usuario</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown justify-content-center">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdownCareers"
                                role="button"
                                data-toggle="dropdown"
                                aria-haspopup="true"
                                aria-expanded="false">
                                Juego Digital
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownCareers">
                                <a class="dropdown-item" href="#">Demo en Itch.io</a>
                                <a class="dropdown-item" href="#">Wishlist en Steam</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav ml-auto2">
                        <li class="nav-item">
                            <a class="nav-link" href="#"> <strong>Tienda</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign In</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>       
    </body>
</html>
