<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
    <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
    <title>Nueva carta de hechizo</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header th:replace="~{layouts/base :: headerplusnav2}"></header>
    <div class="container-fluid">
    <form th:action="@{/cards/new-spell}" th:method="post" class="needs-validation" novalidate>

        <!-- Campos para el nombre y descripción -->
        <div class="form-group">
            <label for="name" th:text="|#{cardform.name}:|">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{spell.name}" required />
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.name}|">
                Please provide a name.
            </div>
        </div>

        <div class="form-group">
            <label for="description_es" th:text="|#{cardform.description_es}:|">Descripción:</label>
            <textarea class="form-control" id="description_es" name="description_es" th:field="*{spell.description_es}" required></textarea>
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.descripcion}|">
                Please provide a description.
            </div>
        </div>

        <div class="form-group">
            <label for="description_en" th:text="|#{cardform.description_en}:|">Descripción:</label>
            <textarea class="form-control" id="description_en" name="description_en" th:field="*{spell.description_en}" required></textarea>
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.descripcion}|">
                Please provide a description.
            </div>
        </div>

        <!-- Campos para el precio y ruta de la imagen -->
        <div class="form-group">
            <label for="price" th:text="|#{cardform.price}:|">Precio:</label>
            <input type="number" step="0.01" class="form-control" id="price" name="price" th:field="*{spell.price}" required />
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.price}|">
                Please provide a price.
            </div>
        </div>

        <div class="form-group">
            <label for="imgPath" th:text="|#{cardform.path}:|">Ruta de la imagen:</label>
            <input type="text" class="form-control" id="imgPath" name="imgPath" th:field="*{spell.imgPath}" required />
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.path}|">
                Please provide an image path.
            </div>
        </div>

        <!-- Campos para ataque y vida -->
        <div class="form-group">
            <label for="mana" th:text="|#{cardform.mana}:|">Mana:</label>
            <input type="number" class="form-control" id="mana" name="mana" th:field="*{spell.mana}" required />
            <div class="invalid-feedback" th:text="|#{cardform.invalid} #{cardform.mana}|">
                Please provide a mana value.
            </div>
        </div>

        <button type="submit" class="btn btn-primary" th:text="|#{cardform.insert}|">Insertar</button>
    </form>

    <!-- footer -->
    <footer th:replace="~{layouts/base :: footer}"></footer>

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    
</body>

</html>