<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sobre_nosotros</title>
</head>

<body>
  <div class="contenedor">
    <main class="container">
      <h1>Política de Privacidad</h1>

      <h2>Bienvenido al universo de Dimentials</h2>

      <p>
        Dimentials es un emocionante juego de cartas de Grupo3. En Grupo3,
        valoramos y respetamos profundamente tu privacidad y nos comprometemos
        a proteger la información que compartes con nosotros. Esta política de
        privacidad explica cómo recopilamos, utilizamos y protegemos tus datos
        personales mientras disfrutas de la experiencia de Dimentials.
      </p>

      <h3>Recopilación de información personal</h3>

      <p>
        Cuando te registras en Dimentials, solicitamos cierta información
        personal, como:
      </p>

      <ul class="list-group">
        <li class="list-group-item">Nombre</li>
        <li class="list-group-item">Dirección de correo electrónico</li>
        <li class="list-group-item">Fecha de nacimiento</li>
      </ul>

      <p>
        Esta información nos ayuda a identificarte y garantizar una
        experiencia de juego personalizada para ti.
      </p>

      <h3>Uso de la información personal</h3>

      <p>La información personal que recopilamos se utiliza para:</p>

      <ul class="list-group">
        <li class="list-group-item">Proporcionarte acceso al juego Dimentials</li>
        <li class="list-group-item">Gestionar tu cuenta</li>
        <li class="list-group-item">Brindarte soporte técnico</li>
        <li class="list-group-item">Enviarte actualizaciones sobre el juego</li>
        <li class="list-group-item">Comunicarte noticias importantes</li>
        <li class="list-group-item">Ofrecerte promociones exclusivas de Grupo3</li>
      </ul>

      <h3>Protección de la información personal</h3>

      <p>
        En Grupo3, implementamos medidas de seguridad robustas para proteger
        tus datos personales contra:
      </p>

      <ul class="list-group">
        <li class="list-group-item">Acceso no autorizado</li>
        <li class="list-group-item">Divulgación</li>
        <li class="list-group-item">Alteración</li>
      </ul>

      <br>

      <p>
        Utilizamos tecnologías avanzadas de cifrado y seguimos las mejores
        prácticas de seguridad de la industria para garantizar la
        confidencialidad y la integridad de tus datos.
      </p>
    </main>
  </div>
  <script src="../static/js/template.js"></script>
</body>

</html>