<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/styles.css}">
  <link rel="stylesheet" th:href="@{/css/mobile.css}">
  <link rel="stylesheet" th:href="@{/css/tablet.css}">
  <link rel="stylesheet" th:href="@{/css/desktop.css}">
  <link rel="stylesheet" th:href="@{/css/aminations.css}">
  <link rel="icon" type="image/png" th:href="@{/images/favicon.png}">
  <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
  <title>Términos de Uso</title>
</head>

<body>
  <header th:replace="~{layouts/base :: headerplusnav2}"></header>

  <div class="contenedor">
    <main class="container">
      <h1>Términos de Uso</h1>

      <h2>Bienvenido a Dimentials</h2>

      <p>
        Antes de sumergirte en el mágico mundo de Dimentials, te pedimos que
        leas detenidamente y aceptes los siguientes términos de uso.
      </p>

      <h3>1. Aceptación de los Términos</h3>

      <p>
        Al acceder o utilizar Dimentials, aceptas cumplir con estos términos
        de uso y todas las leyes y regulaciones aplicables. Si no estás de
        acuerdo con alguno de estos términos, te pedimos que no utilices
        nuestro servicio.
      </p>

      <h3>2. Licencia de Uso</h3>

      <p>
        Grupo3 te otorga una licencia limitada, no exclusiva y no transferible
        para acceder y utilizar Dimentials con fines personales y no
        comerciales. No tienes permitido modificar, distribuir o vender el
        contenido de Dimentials sin el consentimiento previo por escrito de
        Grupo3.
      </p>

      <h3>3. Registro de Usuario</h3>

      <p>
        Para acceder a algunas características de Dimentials, puedes ser
        requerido/a a registrar una cuenta de usuario. Es tu responsabilidad
        proporcionar información precisa y mantener la confidencialidad de tu
        cuenta y contraseña.
      </p>

      <h3>4. Contenido del Usuario</h3>

      <p>
        Al utilizar Dimentials, puedes generar y compartir contenido, como
        nombres de usuario, comentarios y contribuciones al juego. Reconoces y
        aceptas que eres el único responsable de cualquier contenido que
        publiques y Grupo3 no asume ninguna responsabilidad por dicho
        contenido.
      </p>

      <h3>5. Propiedad Intelectual</h3>

      <p>
        Todos los derechos de propiedad intelectual relacionados con
        Dimentials, incluidos los derechos de autor, marcas comerciales y
        derechos de diseño, son propiedad de Grupo3 o sus licenciantes. No
        tienes permitido utilizar el nombre, logotipo o cualquier otro
        elemento distintivo de Dimentials sin autorización previa.
      </p>

      <h3>6. Modificaciones del Servicio</h3>

      <p>
        Grupo3 se reserva el derecho de modificar, suspender o interrumpir
        Dimentials en cualquier momento y por cualquier motivo, sin previo
        aviso. No seremos responsables ante ti o terceros por cualquier
        modificación, suspensión o interrupción del servicio.
      </p>

      <h3>7. Limitación de Responsabilidad</h3>

      <p>
        En la máxima medida permitida por la ley aplicable, Grupo3 no será
        responsable por daños directos, indirectos, incidentales, especiales o
        consecuentes que surjan del uso o la imposibilidad de utilizar
        Dimentials.
      </p>

      <h3>8. Aceptación de los Términos</h3>

      <p>
        Al utilizar Dimentials, aceptas estos términos de uso y te comprometes
        a cumplir con todas las leyes y regulaciones aplicables. Si tienes
        alguna pregunta sobre estos términos, no dudes en ponerte en contacto
        con nosotros.
      </p>

      <h3>Fecha de entrada en vigor: 27 de marzo de 2024</h3>

      <br>
    </main>
  </div>
  <footer th:replace="~{layouts/base :: footer}"></footer>

  <script src="../static/js/template.js"></script>
</body>

</html>