<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
        <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
        <title>Document</title>
        <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}" />
        <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    </head>
    <body id="dimentials_shop">
        <header th:replace="~{layouts/base :: headerplusnav2}"></header>

        <div class="hero-content container">
            <div class="row">
                <div class="hero-img col-12 col-md-5">
                    <img class="img-fluid" src="images/3_Aurelius_Ignis.png" alt="Aurelius Ignis" />
                </div>
                <div class="hero-txt col-12 col-md-7">
                    <h1 th:text="|#{shop.special_offers}|">Ofertas especiales</h1>
                    <p th:text="|#{shop.limited_time}|">Consigue por tiempo limitado las cartas faltantes en tu colección</p>
                    <a href="#" class="btn-1" th:text="|#{shop.info}|">informacion</a>
                </div>
            </div>
        </div>

        <!--  --------------------------------  Sección ofertas -------------------------->

        <section class="ofert container">
            <div class="row">
                <div class="ofert-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="ofert-img col-12">
                            <img class="img-fluid" src="images/cardDetail/card1.png" alt="oferta 1" />
                        </div>
                        <div class="ofert-txt col-12">
                            <h3 th:text="|#{shop.product1}|">Producto 1</h3>
                            <a href="#" class="btn-2" th:text="|#{shop.info2}|"> Informacion 1</a>
                        </div>
                    </div>
                </div>
                <div class="ofert-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="ofert-img col-12">
                            <img src="images/cardDetail/card2.png" alt="#" />
                        </div>
                        <div class="ofert-txt col-12">
                            <h3 th:text="|#{shop.product2}|">Producto 2</h3>
                            <a href="#" class="btn-2" th:text="|#{shop.info2}|"> Informacion 2</a>
                        </div>
                    </div>
                </div>
                <div class="ofert-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="ofert-img col-12">
                            <img src="images/cardDetail/card3.png" alt="#" />
                        </div>
                        <div class="ofert-txt col-12">
                            <h3 th:text="|#{shop.product3}|">Producto 3</h3>
                            <a href="#" class="btn-2" th:text="|#{shop.info3}|"> Informacion 3</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--  --------------------------------  Sección ofertas -------------------------->

        <main class="products container" id="lista-1">
            <h2>Productos</h2>

            <div class="product-content row">
                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card14.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product1}|">Producto 1</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="1" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>

                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card15.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product2}|">Producto 2</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio" th:text="|#{shop.price}|">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="2" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>

                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card16.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product3}|">Producto 3</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="3" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>

                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card7.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product4}|">Producto 4</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="4" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>

                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card8.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product5}|">Producto 5</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="5" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>

                <div class="product col-6 col-lg-4">
                    <img src="images/cardDetail/card9.png" alt="ProductCard" />
                    <div class="product-txt">
                        <h3 th:text="|#{shop.product6}|">Producto 6</h3>
                        <p th:text="|#{shop.quality_premium}|">calidad premium</p>
                        <p class="precio">$200</p>
                        <a href="#" class="agregar-carrito btn-2" data-id="6" th:text="|#{shop.add_cart}|">Agregar carrito</a>
                    </div>
                </div>
            </div>
        </main>

        <!---------------------------------- Icons Part -------------------------->

        <section class="icons container">
            <div class="row">
                <div class="icon-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="icon-img col-4">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="icon-txt col-8">
                            <h3>Envios gratis a partir de 50€</h3>
                            <p>A toda la península e islas baleares</p>
                        </div>
                    </div>
                </div>

                <div class="icon-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="icon-img col-4">
                            <i class="fa-solid fa-gifts"></i>
                        </div>
                        <div class="icon-txt col-8">
                            <h3>1 Paquete de Cromos dimentials gratis</h3>
                            <p>por cada 15 euros de compra</p>
                        </div>
                    </div>
                </div>

                <div class="icon-1 col-12 col-lg-4">
                    <div class="row">
                        <div class="icon-img col-4">
                            <i class="fa-regular fa-face-laugh-wink"></i>
                        </div>
                        <div class="icon-txt col-8">
                            <h3>Garantía de Satisfacción</h3>
                            <p>Nos comprometemos a devolver el dinero si el producto no llega en buenas condiciones</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!---------------------------------- Footer -------------------------->

        <footer th:replace="~{layouts/base :: footer}"></footer>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    </body>
</html>
