<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2508d31af3.js" crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet" />
    <title>Document</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap_dimentials.css}">
    <link rel="stylesheet" th:href="@{/css/tienda.css}">  
    <link rel="stylesheet" th:href="@{/css/new_index_dimentials.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body id="dimentials_shop">
    
    <header th:replace="~{layouts/base :: headerplusnav2}"></header>

    <div class="header-content container">
        <div class="header-img">
            <img src="img/z3_Aurelius_Ignis.png" alt="#">
        </div>
        <div class="header-txt">
            <h1>Ofertas especiales</h1>
            <p> Consigue por tiempo limitado las cartas faltantes en tu colección</p>
            <a href="#" class="btn-1">informacion</a>
        </div>
    </div>

    <!--  --------------------------------  Sección ofertas -------------------------->

    <section class="ofert container">
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="images/cardDetail/card1.png" alt ="#">
            </div>
            <div class="ofert-txt">
                <h3> Producto 1</h3>
                <a href="#" class="btn-2"> Informacion 1</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="images/cardDetail/card2.png" alt ="#">
            </div>
            <div class="ofert-txt">
                <h3> Producto 2</h3>
                <a href="#" class="btn-2"> Informacion 2</a>
            </div>
        </div>
        <div class="ofert-1">
            <div class="ofert-img">
                <img src="images/cardDetail/card3.png" alt ="#">
            </div>
            <div class="ofert-txt">
                <h3> Producto 3</h3>
                <a href="#" class="btn-2"> Informacion 3</a>
            </div>
        </div>
    </section>

    <!--  --------------------------------  Sección ofertas -------------------------->

    <main class="products container" id="lista-1">

        <h2> Productos </h2>

        <div class="product-content">
            
            <div class="product">
                <img src="img/cardDetail/14_card_Frogan.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 1</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="1">Agregar carrito</a>
                </div>
            </div>

            <div class="product">
                <img src="img/cardDetail/15_card_Bullraga.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 2</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="2">Agregar carrito</a>
                </div>
            </div>

            <div class="product">
                <img src="img/cardDetail/16_card_Tarvoronaus.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 3</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="3">Agregar carrito</a>
                </div>
            </div>

            <div class="product">
                <img src="img/cardDetail/7_card_Lizzar.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 4</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="4">Agregar carrito</a>
                </div>
            </div>

            <div class="product">
                <img src="img/cardDetail/8_card_Iguanitxeco.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 5</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="5">Agregar carrito</a>
                </div>
            </div>

            <div class="product">
                <img src="img/cardDetail/9_card_Citalflama.png" alt="#">
                <div class="product-txt">
                    <h3> Producto 6</h3>
                    <p> calidad premium</p>
                    <p class="precio">$200</p>
                    <a href="#" class="agregar-carrito btn-2" data-id="6">Agregar carrito</a>
                </div>
            </div>
        </div>
    </main>

    <!---------------------------------- Icons Part -------------------------->

    <section class="icons container">
        <div class="icon-1">
            <div class="icon-img">
                <img src="img/i1.svg" alt="#">
            </div>
            <div class="icon-txt">
                <h3> Lorem ipsum, dolor sit amet consectetur adipis</h3>
                <p>
                Lorem ipsum, dolor sit amet consectetur adipis
                </p>
            </div>
        </div>

        <div class="icon-1">
            <div class="icon-img">
                <img src="img/i2.svg" alt="#">
            </div>
            <div class="icon-txt">
                <h3> Lorem ipsum, dolor sit amet consectetur adipis</h3>
                <p>
                Lorem ipsum, dolor sit amet consectetur adipis
                </p>
            </div>
        </div>

        <div class="icon-1">
            <div class="icon-img">
                <img src="img/i3.svg" alt="#">
            </div>
            <div class="icon-txt">
                <h3> Lorem ipsum, dolor sit amet consectetur adipis</h3>
                <p>
                Lorem ipsum, dolor sit amet consectetur adipis
                </p>
            </div>
        </div>
    </section>

    <!---------------------------------- Blog parte -------------------------->

    <section class="blog container">
        
        <div class="blog-1">
            <img src="img/b1.jpg" alt="#">
            <h3> Blog 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi facere quasi consequatur quaerat libero, distinctio aliquid tempore! 
                Exercitationem est aperiam saepe a. Maiores tempora dignissimos molestiae, libero numquam voluptatem.
            </p>
        </div>

        <div class="blog-1">
            <img src="img/b2.jpg" alt="#">
            <h3> Blog 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi facere quasi consequatur quaerat libero, distinctio aliquid tempore! 
                Exercitationem est aperiam saepe a. Maiores tempora dignissimos molestiae, libero numquam voluptatem.
            </p>
        </div>

        <div class="blog-1">
            <img src="img/b3.jpg" alt="#">
            <h3> Blog 1</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga commodi facere quasi consequatur quaerat libero, distinctio aliquid tempore! 
                Exercitationem est aperiam saepe a. Maiores tempora dignissimos molestiae, libero numquam voluptatem.
            </p>
        </div>
    </section>


    <!---------------------------------- Footer -------------------------->

    <footer th:replace="~{layouts/base :: footer}"></footer>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
</body>
</html>