/*  */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #ffffff;
    --secondary-color: #e54fad;
    --tertiary-color: #47d8ee;
    --quartary-color: #000000;
    --bg-color: #fff;
    --footer-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

header {
    background-color: var(--footer-color);
    color: var(--primary-color);
    position: sticky;
    top: 0;
    height: 8vh;
    z-index: 1000;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

h1 {
    display: inline-block;
    width: 30vw;
}

nav {
    display: inline-block;
    width: 60vw;
}

nav ul, footer ul {
    text-decoration: none;
    text-align: center;
}

nav ul li, footer ul li {
    padding: 5px;
    display: inline-block;
}

nav ul li a, footer ul li a {
    text-decoration: none;
    color: var(--primary-color);
}

nav ul li a:hover, footer ul li a:hover {
    text-decoration: none;
    color: var(--secondary-color);
}

button {
    background-color: var(--tertiary-color);
    border: 1px solid var(--tertiary-color);
    border-radius: 25px;
    height: 5vh;
    width: 13vw;
    margin-top: 2vh;
}

button:hover {
    background-color: var(--secondary-color);
}

footer {
    width: 100vw;
    height: 25vh;
    background-color: var(--footer-color);
    color: var(--primary-color);
    text-align: center;
}

footer img {
    height: 10vh;

}

/*.redes{
    color: #fff;
    background-color: #333333;
    display: inline-block;
    padding: 15em; 
    width: 100vw;
}*/